
{% load i18n %}
{% load static %}
{% load customs_tags %}
{% load mptt_tags %} 

<!-- --------------------    leave type filter    --------------------  -->
<div class="col-auto" >
    <div class="d-flex flex-wrap ">
    
        <div class="card mr-2" >
            <div class="row-header">                                  
                <div class="d-flex flex-wrap subheading" role="button" data-bs-toggle="collapse" data-bs-target="#leave_type_filters">
                    <h4><i class="fas fa-filter"></i>  {% trans 'Leave Type Filter' %}</h4> 
                </div>
            
            </div>
            <div class="row">
                <div id="leave_type_filters" class="collapse">
                    <div id="leave_type" class="in-card d-flex flex-wrap collapse" style="margin-left:1em;">
                        
                        {% recursetree leave_type %}
                            {% if not node.parent %}
                            <div class="col-auto" >
                                    <ul class="list-group">
                            {%endif%}
                            <li class="">
                                <div class="form-check form-check-inline">
                                    <input id="leave-{{ node.pk }}" type="checkbox" style="background-color:{{node.color}};border-color:{{node.color}};" class="form-check-input leave_type_cb" name="{{ node.pk }}" value="{{ node.pk }}" checked>
                                    <label class="form-check-label" for="leave-{{ node.pk }}">{{ node.name }}</label>
                                {% if not node.is_leaf_node %}
                                        <ul class="children">
                                            {{ children }}
                                        </ul>
                                    {% endif %}
                                </div>
                            </li>
                            {% if not node.parent %}
                                    </ul>
                            </div>
                            {%endif%}
                        {% endrecursetree %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --------------------    Employee status filter    --------------------  -->
<div class="col-auto" >
    <div class="d-flex flex-wrap ">
    
        <div class="card mr-2" >
            <div class="row-header">                                  
                <div class="d-flex flex-wrap subheading" role="button" data-bs-toggle="collapse" data-bs-target="#employee_status_filters">
                    <h4><i class="fas fa-filter"></i>  {% trans 'Employee Status Filter' %}</h4> 
                </div>
            
            </div>
            <div class="row">
                <div id="employee_status_filters" class="collapse">
                    <div id="employee_status" class="in-card d-flex flex-wrap collapse" style="margin-left:1em;">
                        <div class="col-auto" >
                            <select id='employee_status_selector' class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option value="all">{% trans 'All' %}</option>
                                {% for status in emp_types %}
                                    <option value="{{status.pk}}">{{ status.name }}</option>
                                {%endfor%}
                              </select>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>