{% extends "print/print_base.html" %}
{% load static %}
{% load i18n %}
{% load customs_tags %}
{% load js_reverse %}

{% block css %}
    {% if full_print%}
        @media print {
            body{
            -webkit-print-color-adjust: exact; /*chrome & webkit browsers*/
            color-adjust: exact; /*firefox & IE */
            } 
        }
    {% endif %}

{% endblock %}

{% block page_title %}
{% trans "LabManager Calendar" %} - {% trans 'Print' %}
{% endblock %}

{% block content %}
<div id="calendar-box">
    <!-- where the calendar should be loaded -->
</div>
{{ request.user.id|json_script:"user_id" }}

{% endblock %}

{% block js %}
<script type='text/javascript' src="{% static 'js/labsmanager.js' %}"></script>
<script type='text/javascript' src="{% static 'js/labsmanager/calendar.js' %}"></script>
<script type='text/javascript' src="{% static 'js/fullcalendar/main_calendar.js' %}"></script>


<script type='text/javascript'>
    USER_PERMS="{{ perms.leave }}";
    USER_PERMS=USER_PERMS.replaceAll("&#x27;","'");
    is_staff="{{ request.user.is_staff }}";
    if(is_staff=="True")USER_PERMS+=", is_staff";

    
    {% get_filter_lists %}
    $(document).ready(function () {
        user_id = JSON.parse(document.getElementById('user_id').textContent);
        options = "{{options|safe}}";
        initPrintCalendar(JSON.parse(options.replaceAll("'",'"')));
    })

    
</script>

{% endblock %}


