{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}
{% load rules %}

{% block page_title %}
{% trans "LabManager Team" %} - {{ team }}
{% endblock %}

{% block breadcrumb_list %}
{% endblock %}

{% block sidebar %}
    {% include 'team/team_sidebar.html' %}
{% endblock %}

{% block content %}
{% include 'modals.html' with modal_id='create-modal' modal_title='Team' %}

{% has_perm 'staff.change_team' user team as can_edit_team %}

<div id='detail-panels'>
    <div class="panel" id="panel-project" style="display: block;">

        <div class="panel-heading">
            <div class="d-flex flex-wrap">
                <h4  role="button" data-bs-toggle="collapse" data-bs-target="#team_deatils">{% trans 'Team' %} : {{ team }}</h4>
                <span class="flex" style="flex-grow: 1;"></span>
                
                <div class="btn-group" role="group">
                    {% if request.user.is_staff %}
                    <a href='{% url "admin:staff_team_change" team.pk %}'><button class='icon admin_employee btn btn-secondary'><i type = 'button' class='fas fa-shield-halved'></i></button></a>
                    {% endif %}
                    {% if perms.common.change_subscription %}
                    <div class="subscription" data-type="staff.team" data-pk='{{team.pk}}'><button class='icon subscription btn btn-secondary' ><i type = 'button' class='fas fa-bell'></i></button></div>
                    {%endif%}
                    {% if perms.common.change_favorite %}
                    <div class="favorite" data-type="staff.team" data-pk='{{team.pk}}'><button class='icon favorite btn btn-secondary' ><i type = 'button' class='fas fa-star'></i></button></div>
                    {%endif%}

                </div>
                
            </div>
        </div>
        <div class="panel-content collapse show" id="team_deatils">
            <div class="row">
                <div class="col" id="detail-panel-left">
                    <div class="card  mb-2">
                        <div class="col" id="team_desc_table">
                            <!-- team description table inserted here -->

                        </div>
                    </div>

                </div>
                <div class="col" id="detail-panel-left">
                    <div class="card  mb-2">
                        <div class="col" id="team_mate_table">
                            <!-- team description table inserted here -->

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<!-- ######################################    Leave PANEL ############################################### -->

<div class="panel-hidden panel-visible" id="panel-team-leave" style="display: block;">
    <div id='detail-panels'> 
        <div class="panel" id="panel-team-leave1" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'TeamMate leaves' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>   
                
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary" id="leave_print" title="Print" aria-expanded="false">
                            <i class='fa fa-print'></i>
                        </button>
    
                    </div>             
                </div>
            </div>
            <div class="panel-content">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card  mb-2" id="team_leave_calendar">
                            <div id="calendar-team-box">
                                <!-- where the calendar should be loaded -->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ######################################    BUDGET PANEL ############################################### -->
<div id='detail-panels'>
    <div class="panel panel-hidden panel-visible" id="panel-team-budget" style="display: block;">
        <div class="panel-heading">
            <div class="d-flex flex-wrap">
                <h4>{% trans 'Budgets' %}</h4>
                <sup class="btn panel-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'For team mate as leader or co-leader' %}">
                    <i class="fa-regular fa-circle-question"></i>
                </sup>
                <span class="flex" style="flex-grow: 1;"></span>
                {% if perms.fund.add_budget %}
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary" id="add_budget" title="Add Item" data-employee="{{ team.pk }}" >
                        <span class='fas fa-plus'></span>
                    </button>
                </div>  
                {% endif %}           
            </div>
        </div>
        <div class="panel-content">
            <div class="row" style=" padding-top: 5px;">
                <div class="col">
                    <div id='tracking-table-toolbar_funditem'>
                        <div class='btn-group'>
                            {% include "filter_list.html" with id="budget" %}
                        </div>
                    </div>
                    <div class="card  mb-2" id="project_budget_table">
                        {% url 'api:budget-team' team_pk=team.pk as BudgetDataURL %}
                        {% include "fund/budget_table.html" with datatype="team" dataURL=BudgetDataURL datapk=team.pk idTable="budget" %}
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div> <!-- END OF PANEL-->

 <!-- ######################################    Notes PANEL ############################################### -->

            <div class="panel-hidden panel-visible" id="panel-team-notes" style="display: block;">
                
            </div><!-- end panel -->

<!-- ######################################    Project PANEL ############################################### -->

<div class="panel-hidden panel-visible" id="panel-team-project" style="display: block;">
    <div id='detail-panels'> 
        <div class="panel" id="panel-team-leave1" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'TeamMate Projects' %}</h4>
                    <sup class="btn panel-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'For team mate as leader or co-leader' %}">
                        <i class="fa-regular fa-circle-question"></i>
                    </sup>
                    <span class="flex" style="flex-grow: 1;"></span>   
                       
                </div>
            </div>
            <div class="panel-content">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card  mb-2" id="team_project">
                            <table
                                    class='table table-striped table-condensed'
                                    id="team_project_table"
                                    data-id-table="projectTable"
                                    data-url="/api/team/{{ team.pk }}/projects/"
                                    >
                                        <thead class="">
                                            <tr>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="project" data-formatter="projectFormatterDirect">
                                                    {% trans 'Project' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="start_date" data-formatter="baseDateFormatter">
                                                    {% trans 'Project Start Date' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="end_date" data-formatter="baseDateFormatter">
                                                    {% trans 'Project End Date' %}
                                                </th>

                                                <th data-sortable="true" class="th-inner sortable both" data-field="participant" data-formatter="ParticipantFormatter">
                                                    {% trans 'Participant' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="status" data-cell-style="styleAlignMiddle" data-formatter="basicBoolean">
                                                    {% trans 'Project Status' %}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ request.user.id|json_script:"user_id" }}
{{ team.pk|json_script:"team_id" }}
{% endblock %}

{% block js_load %}
<script type='text/javascript' src="{% static 'js/team_single.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/budget_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/nav.js' %}"></script>
<script>
{% has_perm 'leave.change_leave' user team as can_edit_leave %}
$(document).ready(function () {
    // specific perms per object //
    {% if can_edit_leave %}
        USER_PERMS+=", leave.change_leave"; 
    {% endif %}   

    user_id = JSON.parse(document.getElementById('user_id').textContent);
    team_id = JSON.parse(document.getElementById('team_id').textContent);


    initTeamSingleView(user_id, team_id, "{% url 'api:leave-search-calendar' %}");

    onPanelLoad("team-leave", function(){initTeamCalendar("{% url 'calendar_print' %}", '{{ team.pk }}');});
    onPanelLoad("team-budget", function(){initializeBudgetTable();}) 
    onPanelLoad("team-project", function(){initTeamProjectTable();}) 

    onPanelLoad("team-notes", function(){
        loadInTemplate(elt=$("#panel-team-notes"),Urls['generic_info_template']('staff', 'team', team_id) )
        })


    enableSidebar('team');
})
</script>

{% endblock %}

{% block js %}
{% endblock %}