{% load i18n %}
{% load customs_tags %}
{% if datatype == 'all' %}
<div id='tracking-table-toolbar_milestones'>
    <div class='btn-group'>
        {% include "filter_list.html" with id="milestones" %}
    </div>
</div>
{% endif %}

<table
    class='table table-striped table-condensed'
    id="milestones_table"
    data-id-table="milestonesTable"
    data-typeTable='{{ datatype }}'
    {% if datatype == 'all' %}

        data-toolbar='#tracking-table-toolbar_milestones'
    {% endif %}

    >
    <thead class="">
        <tr>
            {% if datatype == 'all' %}
            <th data-sortable="true" class="th-inner sortable both" data-field="project" data-formatter="ProjectFormatter">
                {% trans 'Project' %}
            </th>
            {% endif %}
            <th data-sortable="true" class="th-inner sortable both" data-field="name">
                {% trans 'Name' %}
            </th>
            
            <th data-sortable="true" class="th-inner sortable both" data-field="deadline_date" data-formatter="baseDateFormatter">
                {% trans 'End Date' %}
            </th>
            <th data-sortable="true" class="th-inner sortable both" data-field="quotity" data-formatter="quotityFormatter">
                {% trans 'Quotity' %}
            </th>
            <th data-sortable="true" class="th-inner sortable both" data-field="status" data-formatter="basicBoolean" data-cell-style="styleAlignMiddle">
                {% trans 'Status' %}
            </th>
            <th data-sortable="true" class="th-inner sortable both" data-field="desc">
                {% trans 'Desc' %}
            </th>
            <th data-sortable="false" data-searchable="false" class="th-inner" data-field="admin_action" data-formatter="adminActionMilestones"
            data-can-change="{{ perms.endpoints.change_milestones }}"
            data-can-delete="{{ perms.endpoints.delete_milestones }}"
            >
                {% trans 'Action' %}
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>