{% load i18n %}
{% load customs_tags %}
<div class="row">
    <div class="col">
        <div class="card">
            <table class="table table-striped table-condensed table-desc" id="employee_single_table">
                <colgroup>
                    <col width="2">
                    <col width="20%">
                </colgroup>
                <tbody>
                    <tr>
                        <td><i class="fas fa-id-card"></i></td>
                        <td  class="desc_title">{% trans 'Organization Name' %}</td>
                        <td>{{orga.name }}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-id-card"></i></td>
                        <td  class="desc_title">{% trans 'Organization Short Name' %}</td>
                        <td>{{orga.short_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <table class="table table-striped table-condensed table-desc" id="employee_single_table_info">
                <colgroup>
                    <col width="2">
                    <!-- <col width="20%"> -->
                </colgroup>
                <tbody>
                    <tr>
                        <td><i class="fas fa-flask"></i></td>
                        <td colspan="2">
                            <table class="table table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th colspan="100%" class="desc_title" style="font-weight:inherit;">
                                            {%trans 'Project Involvement' %}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>{% trans 'Project'  %}</th>
                                        <th>{% trans 'Total Amount'  %}</th>
                                        <th>{% trans 'Available Amount'  %}</th>
                                        <th>{% trans 'Available Amount focus'  %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Total' %}</td>
                                        <td>{{project.total}}</td>
                                        <td>{% moneyFormat project.total_amount %}</td>
                                        <td>{% moneyFormat project.total_avail %}</td>
                                        <td>{% moneyFormat project.total_avail_f %}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Open' %}</td>
                                        <td>{{project.open}}</td>
                                        <td>{% moneyFormat project.open_amount %}</td>
                                        <td>{% moneyFormat project.open_avail %}</td>
                                        <td>{% moneyFormat project.open_avail_f %}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-file-signature"></i></td>
                        <td colspan="2">
                            <table class="table table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th colspan="100%" class="desc_title" style="font-weight:inherit;">
                                            {%trans 'Contract' %}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>{% trans 'Total'  %}</th>
                                        <th>{% trans 'Current'  %}</th>
                                        <th>{% trans 'Man Month'  %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Number' %}</td>
                                        <td>{{contract.total}}</td>
                                        <td>{{contract.total_active}}</td>
                                        <td>{{contract.total_MM}}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Active' %}</td>
                                        <td>{{contract.current}}</td>
                                        <td>{{contract.current_active}}</td>
                                        <td>{{contract.current_MM}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>