# Git
.git

# Local configuration / secrets
.env*
config.yaml
config.*.yaml
backend/config.yaml
backend/config.*.yaml
backend/*.bck

# Frontend generated/local files
frontend/.env*
frontend/node_modules
frontend/dist

# Backend local JSON files
backend/*.json