asgiref
attrs
cached-property
certifi
chardet
cryptography
defusedxml
diff-match-patch
distlib
Django
django-allauth
django-auditlog
django-bootstrap-modal-forms
django-crispy-forms
django-dbbackup
django-filter
django-import-export
django-js-asset
django-mptt
django-pivot
django-tables2
django-tabular-permissions
django-view-breadcrumbs
djangorestframework
dnspython
docker
docker-compose
dockerpty
docopt
et-xmlfile
filelock

gunicorn
httplib2
idna
invoke>=1.4.0
importlib-metadata
Jinja2
jsonschema
Markdown
MarkupPy
MarkupSafe
more-itertools
numpy
oauthlib
odfpy
openpyxl
pandas
pbr
pipreqs
platformdirs
psycopg2
psycopg2-binary

Pygments
PyJWT
pyrsistent
PySimpleSOAP

python-dateutil
python-debian
python-debianbts
python3-openid
pytz
PyYAML

requests
requests-oauthlib
requests-toolbelt
six
sqlparse
stevedore
tablib
texttable
types-cryptography
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
websocket-client
xlrd
xlwt
yarg
zipp
