{% extends "account/account_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
<!-- templates/registration/login.html -->

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<h2>{% trans "Forgot Your Password ?" %}</h2>
<form class="login" method="POST" >
  {% csrf_token %}
  {{ form|crispy }}
    <div class="btn-group float-right" role="group">
        <button class="btn btn-success" type="submit">
            <span class='fas fa-sign-in-alt'></span> {% trans "send mail" %}
        </button>
    </div>
</form>
{% endblock %}