{% load i18n %}
{% load customs_tags %}
{% filter_name "expense" as filterName %}
<div id='tracking-table-toolbar_{{filterName}}'>
    <div class='btn-group'>
        {% include "filter_list.html" with id=filterName %}
    </div>
</div>

<table
        class='table table-striped table-condensed'
        id="{{idTable}}"
        data-id-table="expenseTable"
        data-url={{dataURL}}
        >
        <thead class="">
            <tr>
                <th data-sortable="true" class="th-inner sortable both" data-field="expense_id" data-formatter="">
                    {% trans 'Expense Id' %}
                </th>
                <th data-sortable="true" class="th-inner sortable both" data-field="date" data-formatter="baseDateFormatter">
                    {% trans 'Date' %}
                </th>
                <th data-sortable="true" class="th-inner sortable both" data-field="desc" data-formatter="">
                    {% trans 'Description' %}
                </th>
                <th data-sortable="true" class="th-inner sortable both" data-field="type.name" data-formatter="FocusItemFormatter">
                    {% trans 'Type' %}
                </th>
                <th data-sortable="true" class="th-inner sortable both" data-field="status" data-formatter="">
                    {% trans 'Status' %}
                </th>
                <th data-sortable="true" class="th-inner sortable both" data-field="amount" data-formatter="moneyFormatter">
                    {% trans 'Amount' %}
                </th>
                <th data-sortable="true" class="th-inner sortable both" data-field="contract" data-formatter="expense_list_contractItem">
                    {% trans 'Contract' %}
                </th>
                <th data-sortable="true" class="th-inner sortable both" data-field="budget_item" data-formatter="budgetFormatter">
                    {% trans 'Budget' %}
                </th>
                {%if tabletype != "general" %}
                    {% if perms.expense.change_contract_expense or perms.expense.delete_contract_expense or has_perm  %}
                    <th data-sortable="false" class="th-inner fit-content" data-field="admin_action" data-user="{{ request.user.id }}"  data-formatter="adminActionExpenseItem"
                    data-can-change="{% if perms.expense.change_expense or has_perm %}True{%endif%}"
                    data-can-delete="{{ perms.expense.delete_expense }}"
                    >
                        {% trans 'Action' %}
                    </th>
                    {% endif %}
                {% endif %}
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>