/* Color Theme: "Default" */

:root {
    --primary-color: #335d88;
    --primary-color-alpha: #335d8862;
    --primary-color-alpha-dark: #2646669d;
    
    --secondary-color: #eef3f7;
    --third-color-dark:#1e867c;
    --highlight-color: #ffffff;
    --tertiary-color:#798da1;
    --border-color: #ccc;

    --label-red: #e35a57;
    --label-blue: #4194bd;
    --label-green: #50aa51;
    --label-grey: #aaa;
    --label-yellow: #fdc82a;

    --bs-body-color: #68686a;

    --headings-color: #c9e0cf;
    --subheading-color: #d1dbd3;
    --subheading-color-light: #d1dbd344;

    --icon-index-color:rgb(25, 150, 119);

    --icon-info-color:#197db9;

    --icon-deactivate: #dedddd;

}


.list-group-item.active {
    background-color: #53825f !important;
  }

.subheading{
    background-color: var(--subheading-color);
}

.modal-header {
    color: var(--bs-body-color) !important;
    background-color: var(--headings-color) !important;
}
.select-row{
    background-color: #7ed4d4;
}

/*   for bstreeview   */
.org-chart-count{
    background-color: var(--primary-color-alpha);
}
.org-chart-status{
    color: gray;
}
.org-chart-cont:after {
    border-bottom: 2px solid var(--primary-color-alpha);
}
.employee_orga_chart{ 
    background-color: var(--primary-color-alpha-dark);
    color:white;
}
.bstreeview .inactive, .bstreeview .inactive a{
    color:grey;
}
/* for inactive node */
.node.inactive .title, .node.inactive .title a{
    background-color: lightgray  !important;
    color: grey !important;
}

.card .lab-card-link{
    background-color:var(--headings-color);
    color: white;
  }

  /* orderable chart eg project dashboard */

  .radiolabel {
    background: #e5e5e5;
  }
  .radiolabel:active {
    background: var(--highlight-color);  
  }
  .radiotab:checked + .radiolabel {
    background: var(--subheading-color); 
  }
/* Fullcalendar spe */
.fc-bg-event.vacation{
    background-color: lightblue !important;
}
.fc-bg-event.dayoff{
    background-color: lightskyblue !important;
}
.fc-timeline-slot-lane.fc-day-today, .fc-timeline-slot-lane.fc-slot-today, .fc-daygrid-day.fc-day-today, .fc-daygrid-day.fc-slot-today{
    background-color: var(--primary-color-alpha) !important;
}