
{% load i18n %}
{% load static %}
{% load customs_tags %}
{% load mptt_tags %} 
{% load plugin_tags %} 


<div id="calendar-project-filter" class="row">
    <!-- --------------------    leave type filter    --------------------  -->
    {% comment %} {% trans 'Leave Type Filter' as title%}
    {% include "calendar/filter_treebox.html" with title=title slug="type" options=leave_type %} {% endcomment %}
    <!-- --------------------    Type of sub status filter    --------------------  -->
    {% trans 'Items Status Filter' as title%}
    {% include "calendar/filter_project_items.html" with title=title slug="proj_items"   %}
    <!-- --------------------    Milestones status Team    --------------------  -->
    {% trans 'Milestones status' as title%}
    {% include "calendar/filter_select_milestones.html" with title=title slug="milestone"  %}
    <!-- --------------------    Employee Team    --------------------  -->
    {% trans 'Employee team Filter' as title%}
    {% include "calendar/filter_select.html" with title=title slug="team" options=team add_all_option=True  %}

    <!-- --------------------    Institution Team    --------------------  -->
    {% trans 'Institution Filter' as title%}
    {% include "calendar/filter_select.html" with title=title slug="institution_name" options=institutions add_all_option=True  %}

    <!-- --------------------    Institution Team    --------------------  -->
    {% trans 'Funder Filter' as title%}
    {% include "calendar/filter_select.html" with title=title slug="funder" options=funder add_all_option=True  %}

    <!-- --------------------    Ressource with event filter    --------------------  -->
    <div class="col-auto" id="lase">
       
    </div><!-- END col -->
    {% include "calendar/calendar_plugin_filter.html" with cal_type='project_all' %}
</div>