{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="icon" type="image/png" href="{% static 'img/labsmanager/labsmanager_icon_fav.png' %}" />

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/labsmanager.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/brands.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/solid.min.css' %}">

<link rel="stylesheet" href="{% static 'css/color-themes/default.css' %}">



<body class='login-screen' style='background: url({% static "img/labsmanager/lab_bg.jpg" %}); background-size: cover;'></body>
{% if user.is_authenticated %}
<nav class="navbar {% if sticky %}fixed-top{% endif %} navbar-expand-lg navbar-light">
    <div class="container-fluid" style="text-align: end;">
        <a class='dropdown-item' href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> {% trans "Logout" %}</a>
    </div>
</nav>
{% endif %}   
<div class='main body-wrapper flex'>
    <div class="liencont index-screen d-flex" style='width:75%; margin:auto;'>
        <div class="row align-items-center justify-content-center" style="width:100%;">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row align-items-center justify-content-center" style="width:100%;">
                
                {% if perms.staff.view_employee %}
                {% url 'employee_index' as urlCard %}
                {% static 'img/icons/worker.png' as imgURL%}
                {% trans 'Employee' as txtCard %}
                {% include 'labmanager/index_card.html' with url=urlCard imgURL=imgURL title=txtCard %}
                {% endif %}


                {% if perms.staff.view_team %}
                {% url 'team_index' as urlCard %}
                {% static 'img/icons/employee.png' as imgURL%}
                {% trans 'Team' as txtCard %}
                {% include 'labmanager/index_card.html' with url=urlCard imgURL=imgURL title=txtCard %}
                {% endif %}

                {% if perms.expense.view_contract %}
                {% url 'contract_index' as urlCard %}
                {% trans 'Contract' as txtCard %}
                {% static 'img/icons/contract.png' as imgURL%}

                {% include 'labmanager/index_card.html' with url=urlCard imgURL=imgURL title=txtCard %}
                {% endif %}

                {% if perms.project.view_project %}
                {% url 'project_index' as urlCard %}
                {% trans 'Project' as txtCard %}
                {% static 'img/icons/project.png' as imgURL%}

                {% include 'labmanager/index_card.html' with url=urlCard imgURL=imgURL title=txtCard %}
                {% endif %}

                
                {% if perms.fund.view_fund %}
                {% url 'fund_finder' as urlCard %}
                {% trans 'Fund' as txtCard %}
                {% static 'img/icons/fund.png' as imgURL%}

                {% include 'labmanager/index_card.html' with url=urlCard imgURL=imgURL title=txtCard %}
                {% endif %}

            </div>
            <div class="row align-items-center justify-content-center" style="width:100%;">
                
                {% if perms.leave.view_leave %}
                {% url 'calendar_main' as urlCard %}
                {% trans 'Calendar' as txtCard %}
                {% static 'img/icons/calendar.png' as imgURL%}

                {% include 'labmanager/index_card.html' with url=urlCard imgURL=imgURL title=txtCard %}
                {% endif %}

                {% url 'dashboard' as urlCard %}
                {% trans 'Dashboard' as txtCard %}
                {% static 'img/icons/dashboard.png' as imgURL%}

                {% include 'labmanager/index_card.html' with url=urlCard imgURL=imgURL title=txtCard %}

                <div id="favorites" style="display: contents;"></div>

                {% url 'settings' as urlCard %}
                {% trans 'Settings' as txtCard %}
                {% static 'img/icons/settings.png' as imgURL%}

                {% include 'labmanager/index_card.html' with url=urlCard imgURL=imgURL title=txtCard %}

                {% if user.is_staff %}
                    {% url 'admin:index' as urlCard %}
                    {% trans 'Admin' as txtCard %}
                    {% static 'img/icons/admin.png' as imgURL%}
                    {% include 'labmanager/index_card.html' with url=urlCard imgURL=imgURL title=txtCard %}
                {% endif %}
            </div>
            <div class="row"></div>
            <div class="row"></div>
        </div>

    


    </div>
</div>

    
    </div>

<!-- Scripts -->
<!-- base jquery -->
<script type="text/javascript" src="{% static 'script/jquery-3.6.1.min.js' %}"></script>

<script type='text/javascript' src="{% static 'fontawesome/js/solid.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fontawesome/js/regular.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fontawesome/js/brands.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fontawesome/js/fontawesome.min.js' %}"></script>


<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/labsmanager.js' %}"></script>

<script type='text/javascript'>
         $(document).ready(function () {
            loadInTemplate($('#favorites'), '{% url "nav_favorites_accordion" %}', null, null, "GET", true);
         })
</script>
</body>
</html>