{% load i18n %}
{% load crispy_forms_tags %}

<style>
#pass_hints{
    font-size:small;
}
#pass_hints div[data-bs-toggle="collapse"]{
    font-style:italic;
}
#pass_hints div[data-bs-toggle="collapse"][aria-expanded="false"]::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}
#pass_hints div[data-bs-toggle="collapse"][aria-expanded="true"]::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: rotate(90deg) translateX(-1px);
  transition: transform .2s ease-out;
}
</style>
<form method="post" action="">
  {% csrf_token %}

  <div class='alert alert-block alert-danger form-validation-warning' id='form-validation-warning' style='display: none;'>
    {% trans "Form errors exist" %}
  </div>
  <div class="modal-body">
    {{ form | crispy }} 
  </div>
  
<div id="pass_hints">
    <div class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hints_container" aria-expanded="false" aria-controls="hintsContainer">
    {% trans 'Hints' %}
            <span></span>
    </div>
    <div id="hints_container" class="collapse">
        {{form.hints}}
    </div>
</div>

  <div class='modal-footer'>
    <div id='modal-footer-buttons'>
      <button type='button' class='btn btn-outline-secondary' id='modal-form-close' data-bs-dismiss='modal'>{% trans "Close" %}</button>
      <button type='submit' class='btn btn-primary' id='modal-form-submit'>{% trans "Submit" %}</button>
    </div>  
  </div>
</form>
{{ form.media }}
<script>
  $('form').submit(function(){
    $("form :disabled").removeAttr('disabled');
  });
</script>