{% extends "account/account_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
<!-- templates/registration/login.html -->

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block css %}
#pass_hints{
    font-size:small;
}
#pass_hints div[data-bs-toggle="collapse"]{
    font-style:italic;
}
#pass_hints div[data-bs-toggle="collapse"][aria-expanded="false"]::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}
#pass_hints div[data-bs-toggle="collapse"][aria-expanded="true"]::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: rotate(90deg) translateX(-1px);
  transition: transform .2s ease-out;
}
{% endblock %}


{% block content %}
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form class="login" method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if form.hints %}
            <div id="pass_hints">
                <div class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hints_container" aria-expanded="false" aria-controls="hintsContainer">
                {% trans 'Hints' %}
                        <span></span>
                </div>
                <div id="hints_container" class="collapse">
                    {{form.hints}}
                </div>
            </div>
            {%endif%}
            <div class="btn-group float-right" role="group">
                <button class="btn btn-success" type="submit" name="action">
                    <span class='fas fa-sign-in-alt'></span> {% trans "Reset Password" %}
                </button>
            </div>
        </form>
    {% endif %}
    <div i="#back_login_link">
    <small>
        <a href='{% url "account_login" %}' >{% trans 'Back to login' %}</a>
    </small>
    </div>

{% endblock %}