{% extends "panel.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}

{% block label %}common{% endblock %}

{% block heading %}{% trans 'Favorites and Subscriptions' %}{% endblock %}

{% block content %}
<div class="container" style="max-width: 100%; padding: 5px;">
    
    <div class="row">
        <div class="col col-6">
            <table class='table table-striped table-condensed'>
                <tbody>
                    {% include "settings/setting.html" with key="NOTIFCATION_STATUS" user_setting=True icon='fa-bell' %}
                    {% include "settings/setting.html" with key="NOTIFCATION_FREQ" user_setting=True icon='fa-calendar-week' %}
                    {% include "settings/setting.html" with key="NOTIFCATION_INC_LEAVE" user_setting=True icon='fa-martini-glass-citrus' %}
                </tbody>
            </table>
            <div class="card  mb-2 loadingCard" data-url="{% url 'subscriptions_setting' %}">
            </div>
            <div style ="text-align: center;">
                <button type="button" id="send_test_mail" class="btn btn-primary">
                <span class="initial" >{%trans 'Send Test Mail' %}</span>
                <span class="spinner spinner-border spinner-border-sm" role="status" style="display: none;"></span>
                <span class="spinner" style="display: none;">... {%trans 'Sending' %}</span>
                </button>
            </div>
        </div>
        <div class="col col-6">
            <div class="card  mb-2 loadingCard" data-url="{% url 'favorite_setting' %}">
            </div>
        </div>
    </div><!-- end row -->
</div> <!-- end container -->

{% endblock %}
