{% extends "panel.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}

{% block label %}staff_list{% endblock %}

{% block heading %}{% trans 'List Settings - Staff' %}{% endblock %}

{% block content %}

<div class="container" style="max-width: 100%; padding: 5px;">
    <div class="row">
        <div class="col col-6">
            <div class="card  mb-2 loadingCard" data-url="{% url 'setting_employee_type' %}">
            </div>
        </div>
        <div class="col col-6">
            <div class="card  mb-2 loadingCard" data-url="{% url 'setting_genericinfo_type' %}">
            </div>
        </div>
    </div><!-- end row -->
</div> <!-- end container -->
{% endblock %}

{% block panel_js %}
{% endblock %}