{% extends 'settings/setting_card.html' %}
{% load i18n %}
{% load static %}
{% load customs_tags %}

{% makeId title as idT%}


<div class="col chart_card  mb-2" id="card_container_{{idT}}">
    <div id='tracking-table-toolbar'>
        <div class='btn-group'>
            {% with "setting_filter_"|add:idT as idTitle %}
            {% include "filter_list.html" with id=idTitle %}
            {%endwith%}
        </div>
    </div>
    <table
        class='table table-striped table-condensed'
        id="setting_card_{{idT}}"
        data-id-table="stalefundTable"
        data-url="{{url}}"

    >
        <thead class="">
            <tr>
                {% for c in columns %}
                <th data-sortable="true" 
                class="th-inner sortable both" 
                data-field="{{c.item}}"
                data-formatter="{{c.formatter}}"
                {% if c.custom_param %}data-custom_param="{{c.custom_param}}" {% endif %}
                >
                    {{c.name}}
                </th>
                {% endfor %}
            
        </thead>
        <tbody>

        </tbody>
    </table>
        
</div>




<script>
    {% if options %}
       var card_option={{options|safe}};
    {%else%}
        var card_option={};
    {%endif%}

        var idTable="setting_card_{% makeId title %}";
        $( document ).ready(function(){
            var options={};

            if(card_option["download"]){
                var filters = loadTableFilters('{% makeId title %}');
                var filterOption={
                    download:true,
                };
                var options={
                    url:"{{url}}",
                    queryParams: filters,
                    name:idTable,
                    
                    
                };
                setupFilterList('dashboarcart', $("#setting_card_{% makeId title %}"), '#filter-list-setting_filter_{% makeId title %}',  filterOption);
            }

            $('#setting_card_{{idT}}').labTable(options);
        });     
</script>