{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}

{% block page_title %}
{% trans "LabManager Settings" %}
{% endblock %}

{% block breadcrumb_list %}
{% endblock %}

{% block sidebar %}
{% include "settings/sidebar.html" %}
{% endblock %}

{% block content %}


{% include "settings/dashboard_settings.html" %}
{% include "settings/stale_calculation_settings.html" %}


{% include "settings/list_setting_panel_fund.html" %}



{% if request.user.is_staff %}

{% include "settings/mail_settings.html" %}
{% include "settings/auditlog_settings.html" %}
{% endif %}



{{ request.user.id|json_script:"user_id" }}
{{ project.pk|json_script:"project_id" }}






{% endblock %}


{% block js_load %}
<script type='text/javascript' src="{% static 'js/labsmanager.js' %}"></script>
<script type='text/javascript' src="{% static 'js/api.js' %}"></script>
<script type='text/javascript' src="{% static 'js/nav.js' %}"></script>
<script type='text/javascript' src="{% static 'js/settings/settings.js' %}"></script>

<script>
    $(document).ready(function () {
        enableSidebar('settings');
        initSettingsPage();
    })
</script>
{% endblock %}