{% extends 'settings/setting_card.html' %}
{% load i18n %}
{% load static %}
{% load customs_tags %}



{% block 'set-content' %}
{% makeId title as idT%}
<div class="col chart_card  mb-2" id="cardtable_container_{{idT}}">
    <table
        class='table table-striped table-condensed'
        id="setting_cardtable_{{idT}}"
        data-id-table="stalefundTable"
        data-url="{{url}}"

    >
        <thead class="">
            <tr>
                {% for c in columns %}
                <th data-sortable="true" 
                class="th-inner sortable both" 
                data-field="{{c.item}}"
                {% if c.formatter %}data-formatter="{{c.formatter}}"{% endif %}
                {% if c.cellstyle %}data-cell-style="{{c.cellstyle}}"{% endif %}
                {% if c.custom_param %}data-custom_param="{{c.custom_param}}" {% endif %}
                >
                    {{c.name}}
                </th>
                {% endfor %}
                {% if  action.update or action.delete or action.admin %}
                 <th data-sortable="false" 
                 class="th-inner sortable both" 
                 data-urlupdate="{{action.update}}"
                 data-urldelete="{{action.delete}}"
                 data-urladmin="{{action.admin}}"
                 data-formatter="settingListActionFormatter"
                 >
                 {% trans 'Action' %}
                </th>
                {% endif %}
            
        </thead>
        <tbody>

        </tbody>
    </table>
        
</div>




<script>
    {% if options %}
       var card_option={{options|safe}};
    {%else%}
        var card_option={};
    {%endif%}

        var idTable="setting_card_{% makeId title %}";
        $( document ).ready(function(){
            var options={};
            options["table"]=card_option
            // options["table_id"]='setting_cardtable_{{idT}}'
            //options["card_id"]="setting_card_cont_{{idT}}"
            $("#setting_card_cont_{{idT}}").lab_settinglist(options)
            // options['search']=false;
            // options['showColumns']=false;
            // options['disablePagination']=true;

            // $('#setting_cardtable_{{idT}}').bootstrapTable(options);
        });     
</script>
{% endblock %}