{% load static %}
{% load i18n %}
{% load customs_tags %}


{% trans "User Settings" as text %}
{% include "sidebar_header.html" with text=text icon='fa-user-cog' %}

{% trans "Dashboard Settings" as text %}
{% include "sidebar_item.html" with label='dashboard' text=text icon="fa-gauge" %}

{% trans "Stale Settings" as text %}
{% include "sidebar_item.html" with label='stale_setting' text=text icon="fa-gauge" %}

{% if request.user.is_staff %}
    {% trans "LabsManager Settings" as text %}
    {% include "sidebar_header.html" with text=text icon='fa-screwdriver-wrench' %}

    {% trans "Mails" as text %}
    {% include "sidebar_item.html" with label='mail_setting' text=text icon="fa-envelope" %}

    {% trans "Audit Log" as text %}
    {% include "sidebar_item.html" with label='auditlog_setting' text=text icon="fa-clock-rotate-left" %}

{% endif %}
