{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}
{% load lab_rules %}

{% block page_title %}
{% trans "LabManager Employee" %}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'bstreeview/bstreeview.css' %}">
{% endblock %}

{% block breadcrumb_list %}
{% endblock %}

{% block sidebar %}

{% endblock %}



{% block content %}
{% include 'modals.html' with modal_id='create-modal' modal_title='Employee' %}
{% include 'modals.html' with modal_id='single-modal' modal_title='Single' %}
{% has_project_add_perm user as can_add_employee %}
<div id='detail-panels'>
    <div class="panel panel-hidden panel-visible" id="panel-stock" style="display: block;">
        <div class="panel-heading">
            <div class="d-flex flex-wrap">
                <h4>{% trans 'Employee List' %}</h4>
                <span class="flex" style="flex-grow: 1;"></span>
                <div class="btn-group" role="group">
                    {% if  can_add_employee %}
                    <button type="button" class="btn btn-success" id="employee_create" title="Create New Employee">
                        <span class='fa fa-user-plus'></span>
                        {% trans 'Add Employee' %}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="panel-content">
            <!-- <div class="fixed-table-toolbar">
                <div class="float-right search btn-group">
                    <input class="form-control search-input" type="search" placeholder="Search" autocomplete="off">
                  </div>
            </div> -->
            <div id='tracking-table-toolbar'>
                <div class='btn-group'>
                    {% include "filter_list.html" with id="employee" %}
                </div>
            </div>
            <table
                class='table table-striped table-condensed'
                id="employee_main_table"
                data-toolbar='#tracking-table-toolbar'
                >
                <div class="fixed-table-toolbar">
                </div>
                <thead class="">
                    <tr>
                        <th data-sortable="true" class="th-inner sortable both" data-field="first_name" data-formatter="userFormatter" data-allow="{{ perms.staff.can_change }} " data-sorter="nameSorter" data-search-formatter='false'>
                            {% trans 'User Id' %}
                        </th>
                        <th data-sortable="true" class="th-inner sortable both" data-field="entry_date" data-formatter="baseDateFormatter">
                            {% trans 'Entry Date' %}
                        </th>
                        <th data-sortable="true" class="th-inner sortable both" data-field="exit_date" data-formatter="baseDateFormatter">
                            {% trans 'Exit Date' %}
                        </th>
                        <th data-sortable="true" class="th-inner sortable both" data-field="get_status" data-formatter="statusFormatter">
                            {% trans 'Status' %}
                        </th>
                        {% if perms.staff.view_genericinfo %}
                        <th data-sortable="true" class="th-inner sortable both" data-field="info" data-formatter="infoFormatter">
                            {% trans 'Infos' %}
                        </th>
                        {% endif %}
                        <!-- <th data-sortable="true" class="th-inner sortable both" data-field="contracts" data-formatter="contractsFormatter">
                            {% trans 'Contracts' %}
                        </th> -->
                        <th data-sortable="true" class="th-inner sortable both" data-field="contracts_quotity" data-formatter="quotityAlertFormatter" data-cell-style="styleAlignMiddle">
                            {% trans 'Contracts Quotity' %}
                        </th>
                        <!-- <th data-sortable="true" class="th-inner sortable both" data-field="projects" data-formatter="projectsFormatter">
                            {% trans 'Projects' %}
                        </th> -->
                        <th data-sortable="true" class="th-inner sortable both" data-field="projects_quotity" data-formatter="quotityAlertFormatter" data-cell-style="styleAlignMiddle">
                            {% trans 'Projects Quotity' %}
                        </th>
                        <th data-sortable="true" class="th-inner sortable both" data-field="superior" data-formatter="employeeSuperiorsFormatter">
                            {% trans 'Superior' %}
                        </th>
                        <th class="th-inner sortable both"
                            data-field="is_active"
                            data-cell-style="simpleStyle"
                            data-formatter="simpleFormatter"
                            data-sortable="true"
                            data-allow="{{ perms.staff.can_change }}" 
                            data-search-formatter="false"
                            data-data-type="boolean"
                        >
                            {% trans 'is Active' %}
                        </th>
                        {% if  perms.staff.change_employee or perms.staff.delete_employee %}
                        <th data-sortable="false" class="th-inner fit-content" data-field="admin_action" data-formatter="adminActionFormatter" data-searchable="false"
                        data-can-change="{{ perms.staff.change_employee }}"
                        data-can-delete="{{ perms.staff.delete_employee }}"
                        data-is-staff="{{ request.user.is_staff }}"
                        >
                        {% trans 'Action' %}
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

        {{ request.user.id|json_script:"user_id" }}
        {% endblock %}





{% block js_load %}
<script type='text/javascript' src="{% static 'js/employee_base.js' %}"></script>
<script type='text/javascript' src="{% static 'bstreeview/bstreeview.js' %}"></script>


{% endblock %}


{% block js %}
<script>


    $(document).ready(function () {
        initialiseBaseEmployee()
     })
    
    
    </script>
{% endblock %}

