{% load i18n %}
{% load static %}


{% trans "Leave" as text %}
{% include "sidebar_item.html" with label="team-leave" text=text icon="fa-file-signature" %}

{% trans "Projects" as text %}
{% include "sidebar_item.html" with label="team-project" text=text icon="fa-money-bills" %}

{% trans "Budgets" as text %}
{% include "sidebar_item.html" with label="team-budget" text=text icon="fa-sack-dollar" %}


{% trans "Notes" as text %}
{% include "sidebar_item.html" with label="team-notes" text=text icon="fa-square-pen" %}

{% include "sidebar_toggle.html" with text="" target='sidebar' %}

