{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}

{% block page_title %}
{% trans "LabManager Employee" %} - {{ employee }}
{% endblock %}

{% block breadcrumb_list %}
{% endblock %}

{% block sidebar %}
    {% include 'employee/employee_sidebar.html' %}
{% endblock %}

{% block content %}
{% include 'modals.html' with modal_id='create-modal' modal_title='Employee' %}

<div id='detail-panels'>
    <div class="panel " id="panel-employee" style="display: block;">

        <div class="panel-heading">
            <div class="d-flex flex-wrap">
                <h4  role="button" data-bs-toggle="collapse" data-bs-target="#employee_details">{% trans 'Employee' %} : {{ employee }}</h4>
                <span class="flex" style="flex-grow: 1;"></span>
                
                
                <div class="btn-group" role="group">
                    
                    {% if request.user.is_staff %}
                    <a href='{% url "admin:staff_employee_change" employee.pk %}'><button class='icon admin_employee btn btn-secondary'><i type = 'button' class='fas fa-shield-halved'></i></button></a>
                    {% endif %}
                    {% if perms.common.change_favorite %}
                    <div class="favorite" data-type="staff.employee" data-pk='{{employee.pk}}'><button class='icon favorite btn btn-secondary' ><i type = 'button' class='fas fa-star'></i></button></div>
                    {%endif%}
                    {% if perms.staff.change_employee %}
                    <button id="employee-options" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" title="Employee Actions" aria-expanded="false">
                        <i class="fas fa-flask"></i>
                    </button>
                    <ul class="dropdown-menu" style="">
                        <li><a class="dropdown-item" href="#" id="edit-employee" title="Edit Employee">
                            <i class='fa fa-edit'></i> {% trans 'Edit Employee' %}
                        </a></li>
                        <li><a class="dropdown-item" href="#" id="add-status" title="Add Status">
                            <i class='fa fa-user-plus'></i> {% trans 'Add Status' %}
                        </a></li>
                        {% if perms.staff.add_genericinfo %}
                        <li><a class="dropdown-item" href="#" id="add-info" title="Add Info">
                            <i class='fa fa-person-circle-plus'></i> {% trans 'Add Info' %}
                        </a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
                
            </div>
        </div>
        <div class="panel-content collapse show" id="employee_details">
            <div class="container" style="max-width: 100%; padding: 5px;">
                <div class="row">
                    <div class="col" id="detail-panel-left">
                        <div class="card  mb-2" id="employee_dec_table"></div>
                        <div id="employee_info_table"></div>
                   
                    
                    </div>
                <div class="col" id="detail-panel-right">
                    <div class="card  mb-2">
                        <div class="row">
                            <div class="col">
                                <table
                                    class='table table-striped table-condensed'
                                    id="employee_status_table"
                                    data-id-table="statusTable"
                                    data-url="/api/employee/{{ employee.pk }}/status/"
                                    >
                                    <thead class="">
                                        <tr>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="type.name" >
                                                {% trans 'Status' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="type.shortname">
                                                {% trans 'Status abb' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="start_date" data-formatter="baseDateFormatter">
                                                {% trans 'Start Date' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="end_date" data-formatter="baseDateFormatter">
                                                {% trans 'End Date' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="is_contractual">
                                                {% trans 'Job type' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="is_active" data-formatter="basicBoolean">
                                                {% trans 'Active' %}
                                            </th>
                                            {% if perms.staff.change_employee_status or perms.staff.delete_employee_status %}
                                            <th data-sortable="false" class="th-inner" data-field="admin_action" 
                                            data-can-change="{{ perms.staff.change_employee_status }}"
                                            data-can-delete="{{ perms.staff.delete_employee_status }}"
                                            data-formatter="empStatusFormatter"
                                            >
                                                {% trans 'Action' %}
                                            </th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    
                </div>
                
                
            </div> <!-- container # 1-->
        </div>
    </div>
</div>
    <!-- ######################################    CONTRACT PANEL ############################################### -->
    <div id='detail-panels'>
        <div class="panel panel-hidden panel-visible" id="panel-employee-contract" style="display: block;">
            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'Contracts' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>
                    {% if perms.expense.add_contract_expense %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary" id="add_contract" title="Add Item" data-employee="{{ employee.pk }}" >
                            <span class='fas fa-plus'></span>
                        </button>
                    </div>  
                    {% endif %}           
                </div>
            </div>
            <div class="panel-content"></div>
                <div class="container" style="max-width: 100%; padding: 5px;">
                    <div class="row" style=" padding-top: 5px;">
                        <div class="col">
                            <div class="card  mb-2">
                                <div class="row">
                                
                                {% include 'expense/contract_table.html' with datatype="employee" %}
                                </div>
                            </div>
                        </div>              
                    </div>
                </div>
                <div class="container" style="max-width: 100%; padding: 5px;">
                    <div class="row">
                        <div class="col">
                            <div class="card  mb-2" id="contract_expense_detail">
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- END OF PANEL-->
        <!-- ######################################    BUDGET PANEL ############################################### -->
        <div id='detail-panels'>
            <div class="panel panel-hidden panel-visible" id="panel-employee-budget" style="display: block;">
                <div class="panel-heading">
                    <div class="d-flex flex-wrap">
                        <h4>{% trans 'Budgets' %}</h4>
                        <span class="flex" style="flex-grow: 1;"></span>
                        {% if perms.fund.add_budget %}
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" id="add_budget" title="Add Item" data-employee="{{ employee.pk }}" >
                                <span class='fas fa-plus'></span>
                            </button>
                        </div>  
                        {% endif %}           
                    </div>
                </div>
                <div class="panel-content">
                    <div class="row" style=" padding-top: 5px;">
                        <div class="col">
                            <div id='tracking-table-toolbar_funditem'>
                                <div class='btn-group'>
                                    {% include "filter_list.html" with id="budget" %}
                                </div>
                            </div>
                            <div class="card  mb-2" id="project_budget_table">
                                {% url 'api:budget-employee' emp_pk=employee.pk as BudgetDataURL %}
                                {% include "fund/budget_table.html" with datatype="employee" dataURL=BudgetDataURL datapk=employee.pk %}
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> <!-- END OF PANEL-->

    <!-- ######################################    PROJECT PANEL ############################################### -->
    <div id='detail-panels'>
        <div class="panel panel-hidden panel-visible" id="panel-employee-project" style="display: block;">
            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'Projects Participation' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>
                    {% if perms.project.add_project %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary" id="add_project" title="Create New Project">
                            <span class='fa fa-plus'></span>
                        </button>
                    </div>  
                    {% endif %}              
                </div>
            </div>
            <div class="panel-content">
                <div class="container" style="max-width: 100%; padding: 5px;"></div>
                    <div class="row" style=" padding-top: 5px;">
                        <div class="col">
                            <div class="card  mb-2">
                                <div class="row">
                                    <table
                                    class='table table-striped table-condensed'
                                    id="employee_project_table"
                                    data-id-table="projectTable"
                                    data-url="/api/employee/{{ employee.pk }}/projects/"
                                    >
                                        <thead class="">
                                            <tr>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="project" data-formatter="projectFormatterDirect">
                                                    {% trans 'Project' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="project.start_date" data-formatter="baseDateFormatter">
                                                    {% trans 'Project Start Date' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="project.end_date" data-formatter="baseDateFormatter">
                                                    {% trans 'Project End Date' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="project.status" data-cell-style="styleAlignMiddle" data-formatter="basicBoolean">
                                                    {% trans 'Project Status' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="status">
                                                    {% trans 'Participant Status' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="start_date" data-formatter="baseDateFormatter">
                                                    {% trans 'Start Date' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="end_date" data-formatter="baseDateFormatter">
                                                    {% trans 'End Date' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="quotity" data-formatter="quotityFormatter">
                                                    {% trans 'Quotity' %}
                                                </th>
                                                {% if perms.project.change_participant or project.delete_participant %}
                                                <th data-sortable="false" class="th-inner" data-field="admin_action" data-formatter="adminActionParticipant" 
                                                data-can-change="{{ perms.project.change_participant }}"
                                                data-can-delete="{{ perms.project.delete_participant }}"
                                                >
                                                    {% trans 'Action' %}
                                                </th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> <!-- END OF PANEL-->
            <!-- ######################################    TEAM PANEL  ############################################### -->
            <div id='detail-panels'>
                <div class="panel panel-hidden panel-visible" id="panel-employee-team" style="display: block;">
                    <div class="panel-heading">
                        <div class="d-flex flex-wrap">
                            <h4>{% trans 'Teams' %}</h4>
                            <span class="flex" style="flex-grow: 1;"></span>
                            {% if perms.project.add_team %}
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary" id="add_team" title="Create New team">
                                    <span class='fa fa-plus'></span>
                                </button>
                            </div>  
                            {% endif %}              
                        </div>
                    </div>
                    <div class="panel-content">
                        <div class="container" style="max-width: 100%; padding: 5px;">
                            <div class="row" style=" padding-top: 5px;">
                                <table
                                class='table table-striped table-condensed'
                                id="employee_team_table"
                                data-id-table="teamTable"
                                data-url="/api/employee/{{ employee.pk }}/teams/"
                                >
                                    <thead class="">
                                        <tr>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="name" data-formatter="TeamFormatter">
                                                {% trans 'Team Name' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="leader" data-formatter="teamMateFormatter">
                                                {% trans 'Leader' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="team_mate" data-formatter="teamMateFormatter">
                                                {% trans 'Team Mate' %}
                                            </th>
                                            {% if perms.staff.can_change %}
                                            <th data-sortable="false" class="th-inner" data-field="admin_action" >
                                                {% trans 'Action' %}
                                            </th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- END OF PANEL-->
            <!-- ######################################    LEAVE PANEL  ############################################### -->
            <div id='detail-panels'>
                <div class="panel panel-hidden panel-visible" id="panel-employee-leave" style="display: block;">
                    <div class="panel-heading">
                        <div class="d-flex flex-wrap">
                            <h4>{% trans 'Leaves' %}</h4>
                            <span class="flex" style="flex-grow: 1;"></span>
                            {% if perms.leave.add_leave %}
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary" id="add_leave" title="Create New Leave">
                                    <span class='fa fa-plus'></span>
                                </button>
                            </div>  
                            {% endif %}              
                        </div>
                    </div>
                    <div class="panel-content">
                        <div class="container" style="max-width: 100%; padding: 5px;">
                            <div class="row" style=" padding-top: 5px;">
                                <div class="col">
                                    <div class="card  mb-2">
                                        <div id='tracking-table-toolbar_leave'>
                                            <div class='btn-group'>
                                                {% include "filter_list.html" with id="leave" %}
                                            </div>
                                        </div>
                                        
                                        <table
                                            class='table table-striped table-condensed'
                                            id="employee_leave_table"
                                            data-id-table="leaveTable"
                                            data-url="/api/leave/employee/{{ employee.pk }}/"
                                            >
                                                <thead class="">
                                                    <tr>
                                                        <th data-sortable="true" class="th-inner sortable both" data-field="type">
                                                            {% trans 'Type' %}
                                                        </th>
                                                        <th data-sortable="true" class="th-inner sortable both" data-field="start" data-formatter="baseDateFormatter">
                                                            {% trans 'Start Date' %}
                                                        </th>
                                                        <th data-sortable="true" class="th-inner sortable both" data-field="end" data-formatter="baseDateFormatter">
                                                            {% trans 'End Date' %}
                                                        </th>
                                                        <th data-sortable="true" class="th-inner sortable both" data-field="days">
                                                            {% trans 'Nb Days' %}
                                                        </th>
                                                        {% if perms.leave.change_leave or perms.leave.delete_leave %}
                                                        <th data-sortable="false" class="th-inner" data-field="admin_action" data-formatter="adminActionLeave" 
                                                            data-can-change="{{ perms.leave.change_leave }}"
                                                            data-can-delete="{{ perms.leave.delete_leave }}"
                                                            data-is-staff="{{ request.user.is_staff }}"
                                                        >
                                                            {% trans 'Action' %}
                                                        </th>
                                                        {% endif %}
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- END OF PANEL-->
        </div>
    </div>    
</div>


{{ request.user.id|json_script:"user_id" }}
{{ employee.pk|json_script:"employee_id" }}
{% endblock %}



{% block js_load %}
<script type='text/javascript' src="{% static 'js/employee_single.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/contract_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/budget_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/nav.js' %}"></script>
<script>
$(document).ready(function () {
    user_id = JSON.parse(document.getElementById('user_id').textContent);
    employee_id = JSON.parse(document.getElementById('employee_id').textContent);
    initEmployeeSingleView(user_id, employee_id);
    initializeContractsTable(tableurl="{% url 'api:employee-contracts' pk=employee.pk %}", update_employee);
    initializeBudgetTable();
    enableSidebar('employee');
})
</script>

{% endblock %}

{% block js %}
{% endblock %}