{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}
{% load lab_rules %}



{% block page_title %}
{% trans "LabManager Employee" %} - {{ employee }}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'bstreeview/bstreeview.css' %}">
{% endblock %}

{% block breadcrumb_list %}
{% endblock %}

{% block sidebar %}
    {% include 'employee/employee_sidebar.html' %}
{% endblock %}

{% block content %}
{% include 'modals.html' with modal_id='create-modal' modal_title='Employee' %}
{% include 'modals.html' with modal_id='single-modal' modal_title='Single' %}

{% has_lab_perm 'staff.change_employee' user employee as can_edit_employee %}
{% has_lab_perm 'staff.add_genericinfo' user employee as can_add_genericinfo %}

{% has_lab_perm 'reports.view_employeewordreport' user employee as can_print_report %}

<div id='detail-panels'> 
    <div class="panel " id="panel-employee" style="display: block;">

        <div class="panel-heading">
            <div class="d-flex flex-wrap">
                <h4  role="button" data-bs-toggle="collapse" data-bs-target="#employee_details">{% trans 'Employee' %} : {{ employee }}</h4>
                <span class="flex" style="flex-grow: 1;"></span>                
                <div class="btn-group" role="group">
                    
                    {% if request.user.is_staff %}
                    <a href='{% url "admin:staff_employee_change" employee.pk %}'><button class='icon admin_employee btn btn-secondary'><i type = 'button' class='fas fa-shield-halved'></i></button></a>
                    {% endif %}
                    {% if perms.common.change_subscription %}
                    <div class="subscription" data-type="staff.employee" data-pk='{{employee.pk}}'><button class='icon subscription btn btn-secondary' ><i type = 'button' class='fas fa-bell'></i></button></div>
                    {%endif%}
                    {% if perms.common.change_favorite and user.employee != employee %}
                    <div class="favorite" data-type="staff.employee" data-pk='{{employee.pk}}'><button class='icon favorite btn btn-secondary' ><i type = 'button' class='fas fa-star'></i></button></div>
                    {%endif%}
                    {% if can_edit_employee or can_add_genericinfo or can_print_report%}
                    <button id="employee-options" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" title="Employee Actions" aria-expanded="false">
                        <i class="fas fa-flask"></i>
                    </button>
                    <ul class="dropdown-menu" style="">
                        {% if can_edit_employee %}
                        <li><a class="dropdown-item" href="#" id="edit-employee" title="Edit Employee">
                            <i class='fa fa-edit'></i> {% trans 'Edit Employee' %}
                        </a></li>
                        <li><a class="dropdown-item" href="#" id="add-status" title="Add Status">
                            <i class='fa fa-user-plus'></i> {% trans 'Add Status' %}
                        </a></li>
                        {% endif %}
                        {% if can_add_genericinfo %}
                        <li><a class="dropdown-item" href="#" id="add-info" title="Add Info">
                            <i class='fa fa-person-circle-plus'></i> {% trans 'Add Info' %}
                        </a></li>
                        {% endif %}
                        {% if can_print_report %}
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="#" id="export_word" title="Export Word">
                            <i class='fa fa-file-word'></i> {% trans 'Export Word' %}
                        </a></li>
                        {% endif %}
                        {% if can_print_report %}
                        <li><a class="dropdown-item" href="#" id="export_pdf" title="Export PDF">
                            <i class='fa fa-file-pdf'></i> {% trans 'Export PDF' %}
                        </a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
                
            </div>
        </div>
        <div class="panel-content collapse show" id="employee_details">
            <div class="container" style="max-width: 100%; padding: 5px;">
                <div class="row">
                    <div class="col" id="detail-panel-left">
                        <div class="card  mb-2" id="employee_dec_table"></div>
                        <div id="employee_info_table"></div>
                   
                    
                    </div>
                <div class="col" id="detail-panel-right">
                    <div class="card  mb-2">
                        <div class="row">
                            <div class="col">
                                <table
                                    class='table table-striped table-condensed'
                                    id="employee_status_table"
                                    data-id-table="statusTable"
                                    data-url="/api/employee/{{ employee.pk }}/status/"
                                    >
                                    <thead class="">
                                        <tr>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="type.name" >
                                                {% trans 'Status' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="type.shortname">
                                                {% trans 'Status abb' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="start_date" data-formatter="baseDateFormatter">
                                                {% trans 'Start Date' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="end_date" data-formatter="baseDateFormatter">
                                                {% trans 'End Date' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="is_contractual">
                                                {% trans 'Job type' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="is_active" data-formatter="basicBoolean" data-cell-style="styleAlignMiddle">
                                                {% trans 'Active' %}
                                            </th>
                                            {% if perms.staff.change_employee_status or perms.staff.delete_employee_status or can_edit_employee %}
                                            <th data-sortable="false" class="th-inner fit-content" data-field="admin_action" 
                                            data-can-change="{% if perms.staff.change_employee_status or can_edit_employee %}True{%endif%}"
                                            data-can-delete="{{ perms.staff.delete_employee_status }}"
                                            data-formatter="empStatusFormatter"
                                            >
                                                {% trans 'Action' %}
                                            </th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card  mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex flex-wrap subheading">
                                    <h4><i class="fa-solid fa-sitemap"></i>  {% trans "Employee's Organization Chart" %}</h4> 
                                    <span class="flex" style="flex-grow: 1;"></span>
                                    <div class="btn-group" role="group">
                                        {% if can_edit_employee or perms.staff.add_employee_superior %}
                                        <button type="button" class="btn btn-secondary" id="add-superior" title="Add Superior" >
                                            <span class='fa fas fa-user-tie'></span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" id="add-subordinate" title="Add Subordinate" >
                                            <span class='fa fas fa-child'></span>
                                        </button>
                                        {% endif %}
                                        <button type="button" class="btn btn-success" id="show_emp_chart" title="Show Chart" data-employeepk="{{ pk }}" >
                                            <span class='fa-solid fa-sitemap'>
                                        </button>
                                    </div>                      
                                </div>
                                <table
                                class='table table-striped table-condensed'
                                id="employee_superior_table"
                                data-id-table="superiorTable"
                                data-url="/api/employee/{{ employee.pk }}/superior/"
                                >
                                <thead class="">
                                    <tr>
                                        <th data-sortable="true" class="th-inner sortable both" data-field="employee_superior" data-formatter="employeeFormatter">
                                            {% trans 'Superior' %}
                                        </th>
                                        <th data-sortable="true" class="th-inner sortable both" data-field="start_date" data-formatter="baseDateFormatter">
                                            {% trans 'Start Date' %}
                                        </th>
                                        <th data-sortable="true" class="th-inner sortable both" data-field="end_date" data-formatter="baseDateFormatter">
                                            {% trans 'End Date' %}
                                        </th>
                                        <th data-sortable="true" class="th-inner sortable both" data-field="is_active" data-formatter="basicBoolean" data-cell-style="styleAlignMiddle">
                                            {% trans 'Active' %}
                                        </th>
                                        {% if perms.staff.change_employee_superior or perms.staff.delete_employee_superior or can_edit_employee%}
                                        <th data-sortable="false" class="th-inner fit-content" data-field="admin_action" 
                                        data-can-change="{% if perms.staff.change_employee_superior or can_edit_employee %}True{%endif%}"
                                        data-can-delete="{{ perms.staff.delete_employee_superior }}"
                                        data-formatter="empActionSsuperiorFormatter"
                                        >
                                            {% trans 'Action' %}
                                        </th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                            <table
                            class='table table-striped table-condensed'
                            id="employee_subordinate_table"
                            data-id-table="subordinateTable"
                            data-url="/api/employee/{{ employee.pk }}/subordinate/"
                            >
                            <thead class="">
                                <tr>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="subordinate" data-formatter="employeeFormatter">
                                        {% trans 'Subordinate' %}
                                    </th>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="start_date" data-formatter="baseDateFormatter">
                                        {% trans 'Start Date' %}
                                    </th>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="end_date" data-formatter="baseDateFormatter">
                                        {% trans 'End Date' %}
                                    </th>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="is_active" data-formatter="basicBoolean" data-cell-style="styleAlignMiddle">
                                        {% trans 'Active' %}
                                    </th>
                                    
                                    <th data-sortable="false" class="th-inner fit-content" data-field="admin_action" 
                                    data-can-change="{% if perms.staff.change_employee_superior or can_edit_employee %}True{%endif%}"
                                    data-can-delete="{{ perms.staff.delete_employee_superior }}"
                                    data-formatter="empActionSsuperiorFormatter"
                                    >
                                        {% trans 'Action' %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                    

                    
                    
                </div>
                
                
            </div> <!-- container # 1-->
        </div>
    </div>
</div>
    <!-- ######################################    CONTRACT PANEL ############################################### -->
    <div id='detail-panels'>
        <div class="panel panel-hidden panel-visible" id="panel-employee-contract" style="display: block;">
            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'Contracts' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>
                    {% if perms.expense.add_contract_expense or can_edit_employee %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary" id="add_contract" title="Add Item" data-employee="{{ employee.pk }}" >
                            <span class='fas fa-plus'></span>
                        </button>
                    </div>  
                    {% endif %}           
                </div>
            </div>
            <div class="panel-content"></div>
                <div class="container" style="max-width: 100%; padding: 5px;">
                    <div class="row" style=" padding-top: 5px;">
                        <div class="col">
                            <div class="card  mb-2">
                                <div class="row">
                                
                                {% include 'expense/contract_table.html' with datatype="employee" %}
                                </div>
                            </div>
                        </div>              
                    </div>
                </div>
                <div class="container" style="max-width: 100%; padding: 5px;">
                    <div class="row">
                        <div class="col">
                            <div class="card  mb-2" id="contract_expense_detail">
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- END OF PANEL-->
        <!-- ######################################    BUDGET PANEL ############################################### -->
        <div id='detail-panels'>
            <div class="panel panel-hidden panel-visible" id="panel-employee-budget" style="display: block;">
                <div class="panel-heading">
                    <div class="d-flex flex-wrap">
                        <h4>{% trans 'Budgets' %}</h4>
                        <span class="flex" style="flex-grow: 1;"></span>
                        {% if perms.fund.add_budget or can_edit_employee%}
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" id="add_budget" title="Add Item" data-employee="{{ employee.pk }}" >
                                <span class='fas fa-plus'></span>
                            </button>
                        </div>  
                        {% endif %}           
                    </div>
                </div>
                <div class="panel-content">
                    <div class="row" style=" padding-top: 5px;">
                        <div class="col">
                            <div id='tracking-table-toolbar_funditem'>
                                <div class='btn-group'>
                                    {% include "filter_list.html" with id="budget" %}
                                </div>
                            </div>
                            <div class="card  mb-2" id="project_budget_table">
                                {% url 'api:budget-employee' emp_pk=employee.pk as BudgetDataURL %}
                                {% include "fund/budget_table.html" with datatype="employee" dataURL=BudgetDataURL datapk=employee.pk idTable="budget" %}
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> <!-- END OF PANEL-->
<!-- ######################################    Conbtribution PANEL ############################################### -->

<div class="panel-hidden panel-visible" id="panel-contribution" style="display: block;">
    <div id='detail-panels'> 
        <div class="panel" id="panel-project-contribution" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'Employee Contributions' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>
                    <div class="btn-group" role="group">
    
                        {% if perms.fund.add_contribution or can_edit_employee%}
                        <button type="button" class="btn btn-secondary" id="add_contrib" title="Add Item" data-pk="{{ project.pk }}" data-form-url="" >
                            <span class='fa fas fa-plus'></span>
                        </button>
                        {% endif %}
                    </div> 
                              
                </div>
            </div>
            <div class="panel-content collapse show" id="Contribution-details">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card" id="project_budget_table">
                            {% url 'api:contribution-employee' emp_pk=employee.pk as ContribDataURL %}
                            {% include "fund/contrib_table.html" with datatype="employee" dataURL=ContribDataURL datapk=employee.pk idTable="contrib" %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- ######################################    PROJECT PANEL ############################################### -->
    <div id='detail-panels'>
        <div class="panel panel-hidden panel-visible" id="panel-employee-project" style="display: block;">
            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'Projects Participation' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>
                    {% if perms.project.add_project or can_edit_employee%}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary" id="add_project" title="Create New Project">
                            <span class='fa fa-plus'></span>
                        </button>
                    </div>  
                    {% endif %}              
                </div>
            </div>
            <div class="panel-content">
                <div class="container" style="max-width: 100%; padding: 5px;"></div>
                    <div class="row" style=" padding-top: 5px;">
                        <div class="col">
                            <div class="card  mb-2">
                                <div class="row">
                                    <table
                                    class='table table-striped table-condensed'
                                    id="employee_project_table"
                                    data-id-table="projectTable"
                                    data-url="/api/employee/{{ employee.pk }}/projects/"
                                    >
                                        <thead class="">
                                            <tr>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="project" data-formatter="projectFormatterDirect">
                                                    {% trans 'Project' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="project.start_date" data-formatter="baseDateFormatter">
                                                    {% trans 'Project Start Date' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="project.end_date" data-formatter="baseDateFormatter">
                                                    {% trans 'Project End Date' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="status">
                                                    {% trans 'Participant Status' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="start_date" data-formatter="baseDateFormatter">
                                                    {% trans 'Start Date' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="end_date" data-formatter="baseDateFormatter">
                                                    {% trans 'End Date' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="is_active" data-cell-style="styleAlignMiddle" data-formatter="ParticipantStatusFormatter">
                                                    {% trans 'Status' %}
                                                </th>
                                                <th data-sortable="true" class="th-inner sortable both" data-field="quotity" data-formatter="quotityFormatter">
                                                    {% trans 'Quotity' %}
                                                </th>
                                                
                                                <th data-sortable="false" class="th-inner fit-content" data-field="admin_action" data-formatter="adminActionParticipant" 
                                                data-can-change="{{ perms.project.change_participant }}"
                                                data-can-delete="{{ perms.project.delete_participant }}"
                                                >
                                                    {% trans 'Action' %}
                                                </th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> <!-- END OF PANEL-->
            <!-- ######################################    TEAM PANEL  ############################################### -->
            <div id='detail-panels'>
                <div class="panel panel-hidden panel-visible" id="panel-employee-team" style="display: block;">
                    <div class="panel-heading">
                        <div class="d-flex flex-wrap">
                            <h4>{% trans 'Teams' %}</h4>
                            <span class="flex" style="flex-grow: 1;"></span>
                            {% if perms.staff.add_team %}
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary" id="add_team" title="Create New team">
                                    <span class='fa fa-plus'></span>
                                </button>
                            </div>  
                            {% endif %}              
                        </div>
                    </div>
                    <div class="panel-content">
                        <div class="container" style="max-width: 100%; padding: 5px;">
                            <div class="row" style=" padding-top: 5px;">
                                <table
                                class='table table-striped table-condensed'
                                id="employee_team_table"
                                data-id-table="teamTable"
                                data-url="/api/employee/{{ employee.pk }}/teams/"
                                >
                                    <thead class="">
                                        <tr>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="name" data-formatter="TeamFormatter">
                                                {% trans 'Team Name' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="leader" data-formatter="teamMateFormatter">
                                                {% trans 'Leader' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="team_mate" data-formatter="teamMateFormatter">
                                                {% trans 'Team Mate' %}
                                            </th>
                                            {% comment %} {% if perms.staff.can_change %}
                                            <th data-sortable="false" class="th-inner" data-field="admin_action" >
                                                {% trans 'Action' %}
                                            </th>
                                            {% endif %} {% endcomment %}
                                        </tr>
                                    </thead>
                                    <tbody>
            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- END OF PANEL-->
            <!-- ######################################    LEAVE PANEL  ############################################### -->
            <div id='detail-panels'>
                <div class="panel panel-hidden panel-visible" id="panel-employee-leave" style="display: block;">
                    <div class="panel-heading">
                        <div class="d-flex flex-wrap">
                            <h4>{% trans 'Leaves' %}</h4>
                            <span class="flex" style="flex-grow: 1;"></span>
                            {% if perms.leave.add_leave %}
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary" id="add_leave" title="Create New Leave">
                                    <span class='fa fa-plus'></span>
                                </button>
                            </div>  
                            {% endif %}              
                        </div>
                    </div>
                    <div class="panel-content">
                        <div class="container" style="max-width: 100%; padding: 5px;">
                            <div class="row" style=" padding-top: 5px;">
                                <div class="col col-6">
                                    <div class="card  mb-2">
                                        <div id="calendar-employee-box">
                                            <!-- where the calendar should be loaded -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-6">
                                    <div class="card  mb-2">
                                        <div id='tracking-table-toolbar_leave'>
                                            <div class='btn-group'>
                                                {% include "filter_list.html" with id="leave" %}
                                            </div>
                                        </div>
                                        
                                        <table
                                            class='table table-striped table-condensed'
                                            id="employee_leave_table"
                                            data-id-table="leaveTable"
                                            data-url="/api/leave/employee/{{ employee.pk }}/"
                                            >
                                                <thead class="">
                                                    <tr>
                                                        <th data-sortable="true" class="th-inner sortable both" data-field="type">
                                                            {% trans 'Type' %}
                                                        </th>
                                                        <th data-sortable="true" class="th-inner sortable both" data-field="start" data-formatter="calDateFormatter">
                                                            {% trans 'Start Date' %}
                                                        </th>
                                                        <th data-sortable="true" class="th-inner sortable both" data-field="end" data-formatter="calDateFormatter">
                                                            {% trans 'End Date' %}
                                                        </th>
                                                        <th data-sortable="true" class="th-inner sortable both" data-field="days">
                                                            {% trans 'Nb Days' %}
                                                        </th>
                                                        {% if perms.leave.change_leave or perms.leave.delete_leave %}
                                                        <th data-sortable="false" class="th-inner fit-content" data-field="admin_action" data-formatter="adminActionLeave" 
                                                            data-can-change="{{ perms.leave.change_leave }}"
                                                            data-can-delete="{{ perms.leave.delete_leave }}"
                                                            data-is-staff="{{ request.user.is_staff }}"
                                                        >
                                                            {% trans 'Action' %}
                                                        </th>
                                                        {% endif %}
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- END OF PANEL-->
            <!-- ######################################    Notes PANEL ############################################### -->

            <div class="panel-hidden panel-visible" id="panel-employee-notes" style="display: block;">
                
            </div><!-- end panel -->
        </div>
    </div>    
</div>


{{ request.user.id|json_script:"user_id" }}
{{ employee.pk|json_script:"employee_id" }}
{% endblock %}



{% block js_load %}
<script type='text/javascript' src="{% static 'js/employee_single.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/contract_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/budget_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/contribution_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/nav.js' %}"></script>
<script type='text/javascript' src="{% static 'bstreeview/bstreeview.js' %}"></script>

<script>
{% has_lab_perm 'staff.change_employee' user employee as can_edit_employee %}
$(document).ready(function () {
    user_id = JSON.parse(document.getElementById('user_id').textContent);
    employee_id = JSON.parse(document.getElementById('employee_id').textContent);
    if('{{can_edit_employee}}'=="True")USER_PERMS+=", can_edit";


    initEmployeeSingleView(user_id, employee_id);
   
    
    

    onPanelLoad("employee-contract", function(){  initializeContractsTable(tableurl="{% url 'api:employee-contracts' pk=employee.pk %}", update_employee);}) 
    onPanelLoad("employee-budget", function(){ initializeBudgetTable();}) 
    onPanelLoad("contribution", function(){ initializeContribTable(update_employee);}) 
    onPanelLoad("employee-team", function(){$('#employee_team_table').bootstrapTable();}) 
    onPanelLoad("employee-project", function(){initEmployeeProjectTable();}) 
    onPanelLoad("employee-leave", function(){initEmployeeLeaveTable();}) 
    onPanelLoad("employee-notes", function(){
        loadInTemplate(elt=$("#panel-employee-notes"),Urls['generic_info_template']('staff', 'employee', employee_id) )
        })



    enableSidebar('employee');
})
</script>

{% endblock %}

{% block js %}
{% endblock %}