{% load i18n %}
{% load static %}

{% trans "Contract" as text %}
{% include "sidebar_item.html" with label="employee-contract" text=text icon="fa-file-signature" %}

{% trans "Budgets" as text %}
{% include "sidebar_item.html" with label="employee-budget" text=text icon="fa-sack-dollar" %}

{% trans "Contribution" as text %}
{% include "sidebar_item.html" with label="contribution" text=text icon="fa-wallet" %}

{% trans "Project" as text %}
{% include "sidebar_item.html" with label="employee-project" text=text icon="fa-briefcase" %}

{% trans "Team" as text %}
{% include "sidebar_item.html" with label="employee-team" text=text icon="fa-people-group" %}

{% trans "Leave" as text %}
{% include "sidebar_item.html" with label="employee-leave" text=text icon="fa-thumbtack" %}

{% include "sidebar_toggle.html" with text="" target='sidebar' %}