{% load i18n %}

<div class="modal fade modal-fixed-footer modal-primary labsmanager-modal" id="{{modal_id}}" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-header">
          <h4 id='modal-title'><em>{{modal_title}}</em></h4>
          <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='{% trans "Close" %}'></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
  
</div>


