{% extends "panel.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}

{% block label %}fund_list{% endblock %}

{% block heading %}{% trans 'List Settings - Fund' %}{% endblock %}

{% block content %}

<div class="container" style="max-width: 100%; padding: 5px;">
    <div class="row">
        <div class="col col-6">
            <div class="card  mb-2 loadingCard" data-url="{% url 'setting_cost_type' %}">
            </div>
        </div>
        {% comment %} <div class="col col-6">
            <div class="card  mb-2 loadingCard" data-url="{% url 'setting_fund_institution' %}">
            </div>
        </div> {% endcomment %}
    </div><!-- end row -->
</div> <!-- end container -->
{% endblock %}

{% block panel_js %}



{% endblock %}