{% load i18n %}
{% load static %}

{% trans 'Settings' as modal_title %}
{% include 'modals.html' with modal_id='create-modal' modal_title=modal_title %}

<div class="container" style="max-width: 100%; padding: 5px;">
    <div class="row">
        <div class="col">
            <div class="card  mb-2">
                <table class='table table-striped table-condensed'>
                    <tbody>
                       {% include "settings/setting.html" with key="EXPENSE_CALCULATION" project=project icon='fa-user' %}
                       {% include "settings/setting.html" with key="LEADER_EDIT_FUND" project=project icon='fa-user' %}
                       {% include "settings/setting.html" with key="EMPLOYEE_EDIT_MILESTONE" project=project icon='fa-location-dot' %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src="{% static 'js/api.js' %}"></script>
<script type='text/javascript' src="{% static 'js/settings/settings.js' %}"></script>

<script>
    $(document).on("shown.bs.modal", function () {
        initSettingsPage();
    })
</script>