{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}
{% load lab_rules %}

{% block page_title %}
{% trans "LabManager Project" %} - {{ project }}
{% endblock %}

{% block breadcrumb_list %}
{% endblock %}

{% block sidebar %}
    {% include 'project/project_sidebar.html' %}
{% endblock %}

{% block content %}
{% include 'modals.html' with modal_id='create-modal' modal_title='Project' %}

{% has_lab_perm 'project.change_project' user project as can_edit_project %}
<div id='detail-panels'>
    <div class="panel" id="panel-project" style="display: block;">

        <div class="panel-heading">
            <div class="d-flex flex-wrap" >
                <h4 role="button" data-bs-toggle="collapse" data-bs-target="#project_description">{% trans 'Project' %} : {{ project }}</h4>
                <span class="flex" style="flex-grow: 1;"></span>
                
                <div class="btn-group" role="group">

                    
                    {% if request.user.is_staff %}
                    <a href='{% url "admin:project_project_change" project.pk %}'><button class='icon admin_employee btn btn-secondary'><i type = 'button' class='fas fa-shield-halved'></i></button></a>
                    {% endif %}
                    {% if perms.common.change_subscription %}
                    <div class="subscription" data-type="project.project" data-pk='{{project.pk}}'><button class='icon subscription btn btn-secondary' ><i type = 'button' class='fas fa-bell'></i></button></div>
                    {%endif%}
                    {% if perms.common.change_favorite %}
                    <div class="favorite" data-type="project.project" data-pk='{{project.pk}}'><button class='icon favorite btn btn-secondary' ><i type = 'button' class='fas fa-star'></i></button></div>
                    {%endif%}
                    {% if can_edit_project or perms.project.change_project or perms.project.add_participant or perms.project.add_institution_participant%}
                    <button id="project-options" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" title="Project Actions" aria-expanded="false">
                        <i class="fas fa-flask"></i>
                    </button>
                    <ul class="dropdown-menu" style="">
                        {% if perms.project.change_project or can_edit_project %}
                        <li><a class="dropdown-item" href="#" id="edit-project" title="Edit Project">
                            <i class='fa fa-edit'></i> {% trans 'Edit Project' %}
                        </a></li>
                        {% endif %}
                        {% if perms.project.add_participant or can_edit_project %}
                        <li><a class="dropdown-item" href="#" id="add_participant" title="Add Participant">
                            <i class='fa fa-user-plus'></i> {% trans 'Add Participant' %}
                        </a></li>
                        {% endif %}
                        {% if perms.project.add_institution_participant or can_edit_project %}
                        <li><a class="dropdown-item" href="#" id="add_institution_participant" title="Add Institution">
                            <i class='fa fa-building-columns'></i> {% trans 'Add Institution' %}
                        </a></li>
                        {% endif %}
                        {% if perms.project.add_genericinfoproject or can_edit_project %}
                        <li><a class="dropdown-item" href="#" id="add-info" title="Add Info">
                            <i class='fa fa-person-circle-plus'></i> {% trans 'Add Info' %}
                        </a></li>
                        {% endif %}
                        {% if perms.reports.view_projectwordreport %}
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="#" id="export_word" title="Export Word">
                            <i class='fa fa-file-word'></i> {% trans 'Export Word' %}
                        </a></li>
                        {% endif %}
                        {% if perms.reports.view_projectpdfreport %}
                        <li><a class="dropdown-item" href="#" id="export_pdf" title="Export Word">
                            <i class='fa fa-file-pdf'></i> {% trans 'Export PDF' %}
                        </a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
                
            </div>
        </div>
        <div class="panel-content collapse show" id="project_description" >
            <div class="container" style="max-width: 100%; padding: 5px;">
                <div class="row">
                    <div class="col" id="detail-panel-left">
                        <div class="card  mb-2">
                            <div class="row">
                                <div class="col" id="project_desc_table">
                                    <!-- project description table inserted here -->

                                </div>
                                <div id="project_info_table"></div>
                            </div>
                        </div>
                    </div>
                <div class="col" id="detail-panel-center">
                    <div class="card  mb-2">

                    
                        <div class="d-flex flex-wrap subheading">
                            <h4><i class="fa-solid fa-school"></i>  {% trans 'Institutions' %} </h4> 
                        </div>
                        <table
                            class='table table-striped table-condensed'
                            id="project_institution_table"
                            data-id-table="institutionTable"
                            data-url="/api/project/{{ project.pk }}/institution/"
                            >
                            <thead class="">
                                <tr>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="institution.short_name"  data-formatter="institution_project_formatter">
                                        {% trans 'Institutions' %}
                                    </th>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="status_name">
                                        {% trans 'Status' %}
                                    </th>
                                    
                                </tr>
                            </thead>
                            
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                <!-- </div>
                <div class="col" id="detail-panel-right"> -->
                    <div class="card mb-2">
                        
                            <div class="col">
                                <div class="d-flex flex-wrap subheading">
                                    <h4><i class="fas fa-users"></i>  {% trans 'Participant' %} </h4> 
                                </div>
                                <table
                                    class='table table-striped table-condensed'
                                    id="project_participant_table"
                                    data-id-table="statusTable"
                                    data-url="/api/project/{{ project.pk }}/participant/"
                                    >
                                    <thead class="">
                                        <tr>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="employee"  data-formatter="employeeFormatter">
                                                {% trans 'Employee' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="status_name">
                                                {% trans 'Status' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="quotity" data-formatter="quotityFormatter">
                                                {% trans 'Quotity' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="start_date" data-formatter="baseDateFormatter">
                                                {% trans 'Start Date' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="end_date" data-formatter="baseDateFormatter">
                                                {% trans 'End Date' %}
                                            </th>
                                            <th data-sortable="true" class="th-inner sortable both" data-field="employee.is_active" data-formatter="basicBoolean" data-cell-style="styleAlignMiddle" >
                                                {% trans 'Employee Active' %}
                                            </th>
                                            {% if perms.project.change_participant or perms.project.delete_participant or can_edit_project %}
                                            <th data-sortable="false" class="th-inner" data-field="admin_action" data-formatter="adminActionParticipant"
                                            data-can-change="{% if can_edit_project or perms.project.change_participant %}True{%endif%}"
                                            data-can-delete="{{ perms.project.delete_participant }}"
                                            >
                                                {% trans 'Action' %}
                                            </th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
                
                
            </div> <!-- container # 1-->
        </div>
    </div>
</div>

<!-- ######################################    MILESTONES PANEL ############################################### -->

<div class="panel-hidden panel-visible" id="panel-project-milestone" style="display: block;">
    <div id='detail-panels'> 
        <div class="panel" id="panel-project-fund1" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'project Milestones' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>   
                
                    <div class="btn-group" role="group">
    
                        {% if perms.endpoints.add_milestones or can_edit_project %}
                        <button type="button" class="btn btn-secondary" id="add_milestones" title="Add Item" data-pjPk="{{ project.pk }}" data-form-url="{% url 'create_project_milestones' project=project.pk %}" >
                            <span class='fa fas fa-plus'></span>
                        </button>
                        {% endif %}
                    </div>             
                </div>
            </div>
            <div class="panel-content">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card" id="milestones_project_list">
                            {% include 'endpoints/milestones_table.html' with datatype="project" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ######################################    FUND PANEL ############################################### -->
<div class="panel-hidden panel-visible" id="panel-project-fund" style="display: block;">
    <div id='detail-panels'> 
        <div class="panel" id="panel-project-fund1" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4 role="button" data-bs-toggle="collapse" data-bs-target="#fundoverview-details">{% trans 'project Funds Overview' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>                
                </div>
            </div>
            <div class="panel-content collapse show" id="fundoverview-details">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card" id="fund_project_overview_detail">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='detail-panels'> 
        <div class="panel" id="panel-project-fund2" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4  role="button" data-bs-toggle="collapse" data-bs-target="#fund-details">{% trans 'Funds' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>                
                </div>
            </div>
            <div class="panel-content collapse show" id="fund-details">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card">
                            <div class="row-header">
                                <div class="d-flex flex-wrap subheading">
                                    <h4><i class="fas fa-money-bills"></i>  {% trans 'Fund' %} : <i class="super-small">{{ project }}</i></h4> 
                                    <span class="flex" style="flex-grow: 1;"></span>
                                    {% if perms.fund.add_fund or can_edit_project%}
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" id="add_fund_temp" title="Add Item" data-projectpk="{{ project.pk }}" >
                                            <span class='fas fa-plus'></span>
                                        </button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                {% url 'api:project-funds' pk=project.pk as FundDataURL %}
                                {% include 'fund/fund_table.html' with datatype="project" dataURL=FundDataURL %}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="fund_overview">
                        </div>
                    </div>

                </div>
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card">
                            <div class="card" id="fund_item_detail">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card" id="fund_expense_timepoint_detail">
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
   
</div>
<!-- ######################################    Budget PANEL ############################################### -->

<div class="panel-hidden panel-visible" id="panel-budget" style="display: block;">
    <div id='detail-panels'> 
        <div class="panel" id="panel-project-budget1" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'Project Budgets' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>
                    <div class="btn-group" role="group">
    
                        {% if perms.fund.add_budget or can_edit_project %}
                        <button type="button" class="btn btn-secondary" id="add_budget" title="Add Item" data-pk="{{ project.pk }}" data-form-url="" >
                            <span class='fa fas fa-plus'></span>
                        </button>
                        {% endif %}
                    </div> 
                              
                </div>
            </div>
            <div class="panel-content collapse show" id="Budget-details">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card" id="project_budget_table">
                            {% url 'api:budget-project' proj_pk=project.pk as BudgetDataURL %}
                            {% include "fund/budget_table.html" with datatype="project" dataURL=BudgetDataURL datapk=project.pk idTable="budget" %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ######################################    Conbtribution PANEL ############################################### -->

<div class="panel-hidden panel-visible" id="panel-contribution" style="display: block;">
    <div id='detail-panels'> 
        <div class="panel" id="panel-project-contribution" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'Project Contributions' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>
                    <div class="btn-group" role="group">
    
                        {% if perms.fund.add_contribution or can_edit_project %}
                        <button type="button" class="btn btn-secondary" id="add_contrib" title="Add Item" data-pk="{{ project.pk }}" data-form-url="" >
                            <span class='fa fas fa-plus'></span>
                        </button>
                        {% endif %}
                    </div> 
                              
                </div>
            </div>
            <div class="panel-content collapse show" id="Contribution-details">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card" id="project_budget_table">
                            {% url 'api:contribution-project' proj_pk=project.pk as ContribDataURL %}
                            {% include "fund/contrib_table.html" with datatype="project" dataURL=ContribDataURL datapk=project.pk idTable="contrib" %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ######################################    Leave PANEL ############################################### -->
<div class="panel-hidden panel-visible" id="panel-leave" style="display: block;">
    <div id='detail-panels'> 
        <div class="panel" id="panel-leave1" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'TeamMate leaves' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>   
                
                    <div class="btn-group" role="group">
                    </div>             
                </div>
            </div>
            <div class="panel-content">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col">
                        <div class="card" id="project_leave_calendar">
                            <div id="calendar-project-box">
                                <!-- where the calendar should be loaded -->
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-3">
                         <!-- leaves table -->
                        <div class="subheading">
                            <div class="d-flex flex-wrap subheading">
                                <h4><i class="fas fa-file-signature"></i>  {% trans 'Leaves Lists' %}</i></h4> 
                            </div>
                        </div>
                        <div class="row">
                            <div id='tracking-table-toolbar_project'>
                                <div class='btn-group'>
                                    {% include "filter_list.html" with id="project-leave" %}
                                </div>
                            </div>
                            <table
                            class='table table-striped table-condensed'
                            id="project_leave_item_table"
                            data-id-table="leaveItemTable"
                            data-url="{% url 'api:leave-search-calendar' %}"
                            data-query-params="projectleavequeryParams()"
                            data-query-params-type=""
                            >
                            <thead class="">
                                <tr>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="employee" data-formatter="leaveEmployeeFormatter">
                                        {% trans 'Employee' %}
                                    </th>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="start" >
                                        {% trans 'Start' %}
                                    </th>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="end" >
                                        {% trans 'End' %}
                                    </th>
                                    <th data-sortable="true" class="th-inner sortable both" data-field="type" >
                                        {% trans 'Type' %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                    
                            </tbody>
                        </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ######################################    Dashboard PANEL ############################################### -->

<div class="panel-hidden panel-visible" id="panel-project-dashboard" style="display: block;">
    <div id='detail-panels'> 
        <div class="panel" id="panel-project-fund1" style="display: block;">

            <div class="panel-heading">
                <div class="d-flex flex-wrap">
                    <h4>{% trans 'project Dashboard' %}</h4>
                    <span class="flex" style="flex-grow: 1;"></span>   
                
                    <div class="btn-group" role="group">
                    </div>             
                </div>
            </div>
            <div class="panel-content">
                <div class="row" style=" padding-top: 5px;">
                    <div class="col-xl-6">
                        <div class="card" id="project_recette_graph">
                            <!-- Graph will be loaded here -->
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card" id="project_expense_graph">
                            <!-- Graph will be loaded here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ######################################    Notes PANEL ############################################### -->

            <div class="panel-hidden panel-visible" id="panel-project-notes" style="display: block;">
                
            </div>
    <!-- ######################################    Contract ############################################### -->
<div id='detail-panels'>
    <div class="panel panel-hidden panel-visible" id="panel-project-contract" style="display: block;">

        <div class="panel-heading">
            <div class="d-flex flex-wrap">
                <h4>{% trans 'Contracts' %}</h4>
                <span class="flex" style="flex-grow: 1;"></span>                
            </div>
        </div>
        <div class="panel-content">

            <div class="row" style=" padding-top: 5px;">
                <div class="col">
                    <div class="card">
                        <div class="row-header">
                            <div class="d-flex flex-wrap subheading">
                                <h4><i class="fas fa-file-signature"></i>  {% trans 'Contract' %}</h4> 
                                <span class="flex" style="flex-grow: 1;"></span>
                                {% if perms.expense.add_contract or can_edit_project%}
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-secondary" id="add_contract" title="Add Item" data-project="{{ project.pk }}" >
                                        <span class='fas fa-plus'></span>
                                    </button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                        
                        
                        {% include 'expense/contract_table.html' with datatype="project" %}
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="row " style=" padding-top: 5px;">
                <div class="col">
                    <div class="card" id="contract_expense_detail">
                        
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>


{{ request.user.id|json_script:"user_id" }}
{{ project.pk|json_script:"project_id" }}
{% endblock %}



{% block js_load %}
<script type='text/javascript' src="{% static 'js/project_single.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/milestones_table.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/contract_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/fund_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/budget_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/tables/contribution_tables.js' %}"></script>
<script type='text/javascript' src="{% static 'js/nav.js' %}"></script>


<!-- For dashboard graph -->
<script type='text/javascript' src="{% static 'chart/chart.min.js' %}"></script>
<script type='text/javascript' src="{% static 'chart/chartjs-adapter-date-fns.bundle.min.js' %}"></script>

<script type='text/javascript' src="{% static 'js/labsmanager/graph_utils.js' %}"></script>
<script type='text/javascript' src="{% static 'js/project_graph.js' %}"></script>


{% has_lab_perm 'project.change_project' user project as can_edit_project %}

<script>
$(document).ready(function () {
    user_id = JSON.parse(document.getElementById('user_id').textContent);
    project_id = JSON.parse(document.getElementById('project_id').textContent);

    {% if can_edit_project %}
        USER_PERMS+=", leave.change_leave"; 
    {% endif %}  


    initProjectSingleView(user_id, project_id);

    
    
    onPanelLoad("project-milestone", function(){initializeMilestoneTable(tableurl="{% url 'api:milestones-project' pj_pk=project.pk  %}", 'project', update_project);}) 
    onPanelLoad("project-contract", function(){initializeContractsTable(tableurl="{% url 'api:project-contracts' pk=project.pk  %}", update_project);}) 
    onPanelLoad("project-fund", function(){initializeFundTable(null, update_project)}) 
    onPanelLoad("budget", function(){initializeBudgetTable();}) 
    onPanelLoad("contribution", function(){initializeContribTable(update_project);}) 
    onPanelLoad("leave", function(){initProjectCalendar(); }) 
    onPanelLoad("project-dashboard", function(){loadProjectGraph(); })
    onPanelLoad("project-notes", function(){
        loadInTemplate(elt=$("#panel-project-notes"),Urls['generic_info_template']('project', 'project', project_id) )
        })
    enableSidebar('project')

})
function projectleavequeryParams(params) {
    if(params == null)params={}
    params.project = "{{project.pk}}";
    params.start = "{{project.start_date|date:'Y-m-d'}}";
    params.end = "{{project.end_date|date:'Y-m-d'}}";
    return params
  }

  
</script>

{% endblock %}

{% block js %}
{% endblock %}
