{% load i18n %}
{% load static %}



{% trans "Funds" as text %}
{% include "sidebar_item.html" with label="project-fund" text=text icon="fa-money-bills" %}

{% trans "Budgets" as text %}
{% include "sidebar_item.html" with label="budget" text=text icon="fa-sack-dollar" %}

{% trans "Contracts" as text %}
{% include "sidebar_item.html" with label="project-contract" text=text icon="fa-file-signature" %}

{% trans "Milestones" as text %}
{% include "sidebar_item.html" with label="project-milestone" text=text icon="fa-location-dot" %}

{% trans "Leaves" as text %}
{% include "sidebar_item.html" with label="leave" text=text icon="fa-calendar-days" %}

{% trans "Dashboard" as text %}
{% include "sidebar_item.html" with label="project-dashboard" text=text icon="fa-chart-area" %}

{% include "sidebar_toggle.html" with text="" target='sidebar' %}

