{% extends "email/base_email.html" %}
{% load i18n %}
{% load static %}
{% load customs_tags %}

{% block css %}
.main-container{
    display:block;
}
.table_container{
    width:100%;
}
table{
    width:100%;
    font-size: small;
}

.table_title{
    padding-top:10px;
    font-size: large;
    width:100%;
    text-align: center;
    padding: 0.1em;
}

.table_title.project_overview, .table_title.project{
    color:white;
    background-color: #568f67;
    
}
thead tr.column_title{
    background-color: #8fbc9d;
}
tbody tr.odd {
    background-color: #dfece3;
}


.footer-para{
    font-style: italic;
    font-size:small;
    margin-top: 5em;
}

.table_title.employee{
    color:white;
    background-color: #993366;
}
.employee thead tr.column_title{
    background-color: #d98cb3;
}
.employee tbody tr.odd {
    background-color: #f2d9e6;
}

.table_title.team_live{
    color:white;
    background-color: #0099cc;
}
.team thead tr.column_title{
    background-color: #4dd2ff;
}
.team tbody tr.odd {
    background-color: #ccf2ff;
}
.team tbody tr.even {
    background-color: #e6f9ff;
}

.team tbody td.on-leave {
    background-color: #4682b4;
    color: #4682b4;
}


.table_title.leave{
    color:white;
    background-color: #cc7a00;
}
.leaves thead tr.column_title{
    background-color: #ffb84d;
}
.leaves tbody tr.odd {
    background-color: #ffe0b3;
}
.leaves tbody tr.even {
    background-color: #fff5e6;
}
.leaves tbody td.on-leave {
    background-color: 	#f08080;
    color: 	#f08080;
}

td.leave{
    text-align: center;;
}



hr {
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width:50%;
  }
hr.light {
    border-style: dashed;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

{% endblock %}



{% block content %}
{% setvar 'http'  as scheme %}
{% if user.employee %}
    {% setvar user.employee.user_name  as username %}
{%else%}
    {% setvar user  as username %}
{%endif%}

<p>
    {% blocktrans %}Dear {{ username }},
    Please find below the report from your <a href='{{scheme}}://{{base_url}}'>labsmanager</a> subscriptions.
    {% endblocktrans %}

</p>

{% if projects %}

<div class="main-container">
    <div class="table_container">
        <div class="table_title project_overview">
            <th colspan="100%" >{% trans "Project overview" %}</th>
        </div>
        <table class="table">
            <thead>
                
                <tr class="column_title">
                    <th>{% trans "Project" %}</th>
                    <th>{% trans "Start Date" %}</th>
                    <th>{% trans "End Date" %}</th>
                    <th>{% trans "Budget" %}</th>
                    <th>{% trans "Expense" %}</th>
                    <th>{% trans "Available" %}</th>
                    <th>{% trans "Available in focus" %}</th>
                    <th>{% trans "Consumption ratio" %}</th>
                    <th>{% trans "Consumption Advancement" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for p in projects %}
                <tr class="{% if forloop.counter|divisibleby:2 %}even{%else%}odd{% endif %}" >
                    <td align="left" valign="top"><a href="{{scheme}}://{{base_url}}{% url 'project_single' pk=p.pk %}">{{p.name}}</a></td>
                    <td align="center" valign="top">{{p.start_date}}</td>
                    <td align="center" valign="top">{{p.end_date}}</td>
                    <td align="center" valign="top">{% moneyFormat p.get_funds_amount %}</td>
                    <td align="center" valign="top">{% moneyFormat p.get_funds_expense %}</td>
                    <td align="center" valign="top">{% moneyFormat p.get_funds_available %}</td>
                    <td align="center" valign="top">{% moneyFormat p.get_funds_available_f %}</td>
                    <td align="center" valign="top">{% quotityFormat p.get_consumption_ratio %}</td>
                    <td align="center" valign="top">{% quotityFormat p.get_advancement_ratio %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr class="">

{% endif %}

{% setvar "no_p" as pname %}
{% if funds %}

        {% for f in funds %}
            {% if f.project.name != pname %} 
            {% if pname != "no_p" %}
                    </tbody>
                </table>
                {% with "fund_o_"|addstr:pname as funds_o %}
                    {% extractArgs funds_o  as fs%}
                    {% include 'fund/fund_overview_type.html' with fs=fs %}
                {% endwith %}
            {% endif %}
            {% if not forloop.first %}
            <hr class="light">
            {% endif %}
            <div class="table_container">
                <div class="table_title project">
                    {% trans "Project Fund overview :" %} <a href="{{scheme}}://{{base_url}}{% url 'project_single' pk=f.project.pk %}">{{f.project.name}}</a>
                </div>   
                <table class="table ">
                        <thead>
                            <tr class="column_title">
                                <th>{% trans "Funder" %}</th>
                                <th>{% trans "Institution" %}</th>
                                <th>{% trans "Ref" %}</th>
                                <th>{% trans "Start Date" %}</th>
                                <th>{% trans "End Date" %}</th>
                                <th>{% trans "Budget" %}</th>
                                <th>{% trans "Expense" %}</th>
                                <th>{% trans "Available" %}</th>
                                <th>{% trans "Available in focus" %}</th>
                                <th>{% trans "Consumption ratio" %}</th>
                                <th>{% trans "Consumption Advancement" %}</th>
                                
                            </tr>
                        </thead>
                    <tbody>
            {% endif %}
                        <tr class="{% if forloop.counter|divisibleby:2 %}even{%else%}odd{% endif %}">
                            <td align="left" valign="top">{{f.funder.short_name}}</td>
                            <td align="center" valign="top">{{f.institution.short_name}}</td>
                            <td align="center" valign="top">{{f.ref}}</td>
                            <td align="center" valign="top">{{f.start_date}}</td>
                            <td align="center" valign="top">{{f.end_date}}</td>
                            <td align="center" valign="top">{% moneyFormat f.amount %}</td>
                            <td align="center" valign="top">{% moneyFormat f.expense %}</td>
                            <td align="center" valign="top">{% moneyFormat f.available %}</td>
                            <td align="center" valign="top">{% moneyFormat f.available_f %}</td>
                            <td align="center" valign="top">{% quotityFormat f.get_consumption_ratio %}</td>
                            <td align="center" valign="top">{% quotityFormat f.get_advancement_ratio %}</td>
                        </tr>

            {% setvar f.project.name as pname %}

            {% if forloop.last %}
                </tbody>
            </table> 
            {% with "fund_o_"|addstr:pname as funds_o %}
                    {% extractArgs funds_o  as fs%}
                    {% include 'fund/fund_overview_type.html' with fs=fs %}
                {% endwith %}
            {% endif %}
        {% endfor %}
           
        </div>
    </div>
</div>
<hr class="">
{% endif %}



{% if teams %}
       

        {% if leave_format == "list" %}
        {% for t in teams %}
                <div class="table_container">          
                    <table class="table team">
                        <div class="table_title team_live">
                            {% trans "Team Leaves :" %} <a href="{{scheme}}://{{base_url}}{% url 'team_single' pk=t.pk %}">{{t.name}}</a>
                        </div>
                            <thead>
                                
                                <tr class="column_title">
                                    <th>{% trans "Team Mate" %}</th>
                                    <th>{% trans "Start Date" %}</th>
                                    <th>{% trans "End Date" %}</th>
                                    <th>{% trans "Type" %}</th>
                                </tr>
                            </thead>
                        <tbody>

                            {% with "leave_"|addstr:t.name as leaveM %}
                                {% extractArgs leaveM  as leaves%}
                                {% if leaves %}
                                    {% for l in leaves %}
                                    <tr  class="{% if forloop.counter|divisibleby:2 %}even{%else%}odd{% endif %}">
                                        <td align="left" valign="top"><a href="{{scheme}}://{{base_url}}{% url 'employee' pk=l.employee.pk %}">{{l.employee}}</a></td>
                                        <td align="center" valign="top">{{l.start_date}}</td>
                                        <td align="center" valign="top">{{l.end_date}}</td>
                                        <td align="center" valign="top">{{l.type.short_name}}</td>
                                    </tr>
                                    {% endfor %}        
                                {% endif %}
                            

                            {% endwith %}

                    </tbody>
                </table> 
                {% if not forloop.last %}
                <hr class="light">
                {% endif %}
        {% endfor %}
        {% endif %}
        {% if leave_format == "calendar" %}
        {% for t in teams %}
                <div class="table_container">    
                    <div class="table_title team_live">
                        {% trans "Team Leaves :" %} <a href="{{scheme}}://{{base_url}}{% url 'team_single' pk=t.pk %}">{{t.name}}</a>
                    </div>      
                    <table class="table team">
                            <thead>
                                <tr class="column_title">
                                    <th>{% trans "Team Mate" %}</th>
                                    {% for d in days %}
                                    <th>{{ d|date:"d M" }}</th>
                                    {%endfor%}
                                </tr>
                            </thead>
                        <tbody>

                            {% with "leave_emp_"|addstr:t.name as leaveM %}
                                {% extractArgs leaveM  as leaves%}
                                {% if leaves %}
                                {% for l, li in leaves.items %}
                                <tr  class="{% if forloop.counter|divisibleby:2 %}even{%else%}odd{% endif %}">
                                    <td align="left" valign="top"><a href="{{scheme}}://{{base_url}}{% url 'employee' pk=l.pk %}">{{l}}</a></td>
                                    {% for d in days %}
                                        {% if d|is_in_leavelist:li %}<td class="leave on-leave">X</td>{%else%}<td class="leave out-leave"></td>{%endif%}
                                    {%endfor%}
            
                                </tr>
                                {% endfor %}    
                                {% endif %}
                            

                            {% endwith %}

                    </tbody>
                </table> 
                {% if not forloop.last %}
                <hr class="light">
                {% endif %}
        {% endfor %}
        {% endif %}

{% endif %}


{% if contracts %}
<hr class="">
<div class="main-container">
    <div class="table_container">
        <div class="table_title employee">
            {% trans "Employee overview" %}
        </div>
        <table class="table employee">
            <thead>
                
                <tr class="column_title">
                    <th>{% trans "Employee" %}</th>
                    <th>{% trans "Project" %}</th>
                    <th>{% trans "Funder" %}</th>
                    <th>{% trans "Institution" %}</th>
                    <th>{% trans "Start Date" %}</th>
                    <th>{% trans "End Date" %}</th>
                    <th>{% trans "Quotity" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for c in contracts %}
                <tr  class="{% if forloop.counter|divisibleby:2 %}even{%else%}odd{% endif %}">
                    <td align="center" valign="top"><a href="{{scheme}}://{{base_url}}{% url 'employee' pk=c.employee.pk %}">{{c.employee.user_name}}</a></td>
                    <td align="left" valign="top"><a href="{{scheme}}://{{base_url}}{% url 'project_single' pk=c.fund.project.pk %}">{{c.fund.project.name}}</a></td>
                    <td align="center" valign="top">{{c.fund.funder.short_name}}</td>
                    <td align="center" valign="top">{{c.fund.institution.short_name}}</td>
                    <td align="center" valign="top">{{c.start_date}}</td>
                    <td align="center" valign="top">{{c.end_date}}</td>
                    <td align="center" valign="top">{% quotityFormat c.quotity %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>
<hr class="">
{% endif %}


{% if all_leaves %}
        {% if leave_format == "list" %}
        <div class="table_container">    
            <div class="table_title leave">
                <a href="{{scheme}}://{{base_url}}{% url 'calendar_main' %}">{% trans "Current Leaves" %} - {{current_month}} </a>
            </div>      
            <table class="table leaves">
                    <thead>
                        
                        <tr class="column_title">
                            <th>{% trans "Employee" %}</th>
                            <th>{% trans "Start Date" %}</th>
                            <th>{% trans "End Date" %}</th>
                            <th>{% trans "Type" %}</th>
                        </tr>
                    </thead>
                <tbody>

                    {% for l in all_leaves %}
                    <tr  class="{% if forloop.counter|divisibleby:2 %}even{%else%}odd{% endif %}">
                        <td align="left" valign="top"><a href="{{scheme}}://{{base_url}}{% url 'employee' pk=l.employee.pk %}">{{l.employee}}</a></td>
                        <td align="center" valign="top">{{l.start_date}}</td>
                        <td align="center" valign="top">{{l.end_date}}</td>
                        <td align="center" valign="top">{{l.type.short_name}}</td>
                    </tr>
                    {% endfor %}                           

                </tbody>
            </table> 
        </div>

        {%endif%}
        {% if leave_format == "calendar" %}
        <!--          ################################################  TEST MONTH DISPLAY ##################-->
        <div class="table_container">   
            <div class="table_title leave">
                <a href="{{scheme}}://{{base_url}}{% url 'calendar_main' %}">{% trans "Current Leaves" %} - {{current_month}} </a>
            </div>         
            <table class="table leaves">
                    <thead>
                        <tr class="column_title">
                            <th>{% trans "Employee" %}</th>
                            {% for d in days %}
                            <th>{{ d|date:"d M" }}</th>
                            {%endfor%}
                        </tr>
                    </thead>
                <tbody>

                    {% for l, li in emp_leaves.items %}
                    <tr  class="{% if forloop.counter|divisibleby:2 %}even{%else%}odd{% endif %}">
                        <td align="left" valign="top"><a href="{{scheme}}://{{base_url}}{% url 'employee' pk=l.pk %}">{{l}}</a></td>
                        {% for d in days %}
                            {% if d|is_in_leavelist:li %}<td class="leave on-leave">X</td>{%else%}<td class="leave out-leave"></td>{%endif%}
                        {%endfor%}

                    </tr>
                    {% endfor %}                           

                </tbody>
            </table> 
        </div>
        {%endif%}
        <hr class="">

{% endif %}
<div class="footer-para">
    {% blocktrans %} Your subscription parameters :{% endblocktrans %}</br>
    <div style="margin-left: 2em;">
    {%trans "User Name" %}: <b>{{user.username}}</b></br>
    {%trans "Notification activated" %}: <b>{% if sub_status %}{% trans 'Yes'%}{%else%}{% trans 'No'%}{%endif%}</b></br>
    {%trans "Report Leaves" %}: <b>{% if report_leave %}{% trans 'Yes'%}{%else%}{% trans 'No'%}{%endif%}</b></br>
    {%trans "frequency" %}: <b>{{sub_freq}}</b></br>
    {%trans "Next report" %}: <b>{{next_date}}</b></br>
    {%trans "Current Date" %}: <b>{{current_date}}</b></br>
    </div>
    

</div>
 
{% endblock %}